In [1]:
from data_provider.data_factory import data_provider
from utils.tools import EarlyStopping, adjust_learning_rate, visual, vali, test
from tqdm import tqdm
from models.PatchTST import PatchTST
from models.GPT4TS import GPT4TS
from models.DLinear import DLinear


import numpy as np
import torch
import torch.nn as nn
from torch import optim

import os
import time

import warnings
import matplotlib.pyplot as plt
import numpy as np

import argparse
import random

import pandas as pd


#couple resnet
import pandas as pd
from datetime import datetime
import numpy as np
import tensorly.tenalg
import numpy as np
import torch
from torch.nn.init import xavier_normal_
import time
from collections import defaultdict
from torch.optim.lr_scheduler import ExponentialLR
import argparse
import array
from collections import defaultdict 

from sklearn.metrics import precision_score
from sklearn.metrics import recall_score
from sklearn.metrics import accuracy_score
from sklearn.metrics import f1_score
from sklearn import metrics

from sklearn.model_selection import train_test_split
from sklearn.utils import resample
import matplotlib.pyplot as plt 

#save the result
import pickle

import tensorly.tenalg
import torch.nn as nn
from sklearn.model_selection import KFold
#check cuda
torch.cuda.is_available()

/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/tqdm/auto.py:21: TqdmWarning: IProgress not found. Please update jupyter and ipywidgets. See https://ipywidgets.readthedocs.io/en/stable/user_install.html
  from .autonotebook import tqdm as notebook_tqdm

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/home/dan/anaconda3/envs/geo/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/traitlets/config/application.py", line 846, in launch_instance
    app.start()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/kernelapp.py", line 677, in start
    self.io_loop.start()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/tornado/platform/asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/asyncio/base_events.py", line 601, in run_forever
    self._run_once()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/asyncio/base_events.py", line 1905, in _run_once
    handle._run()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/kernelbase.py", line 471, in dispatch_queue
    await self.process_one()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/kernelbase.py", line 460, in process_one
    await dispatch(*args)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/kernelbase.py", line 367, in dispatch_shell
    await result
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/kernelbase.py", line 662, in execute_request
    reply_content = await reply_content
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/ipkernel.py", line 360, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/zmqshell.py", line 532, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2880, in run_cell
    result = self._run_cell(
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2935, in _run_cell
    return runner(coro)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3134, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3337, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3397, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_2688446/1796676848.py", line 1, in <cell line: 1>
    from data_provider.data_factory import data_provider
  File "/home/dan/NeurIPS2023-One-Fits-All1/Long-term_Forecasting/data_provider/data_factory.py", line 1, in <module>
    from data_provider.data_loader import Dataset_Custom, Dataset_Pred, Dataset_TSF, Dataset_ETT_hour, Dataset_ETT_minute,Dataset_EPS
  File "/home/dan/NeurIPS2023-One-Fits-All1/Long-term_Forecasting/data_provider/data_loader.py", line 6, in <module>
    import torch
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/torch/__init__.py", line 870, in <module>
    from . import _masked
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/torch/_masked/__init__.py", line 420, in <module>
    def sum(input: Tensor,
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/torch/_masked/__init__.py", line 223, in _apply_docstring_templates
    example_input = torch.tensor([[-3, -2, -1], [0, 1, 2]])
/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/torch/_masked/__init__.py:223: UserWarning: Failed to initialize NumPy: _ARRAY_API not found (Triggered internally at  /home/conda/feedstock_root/build_artifacts/pytorch-recipe_1650965732461/work/torch/csrc/utils/tensor_numpy.cpp:68.)
  example_input = torch.tensor([[-3, -2, -1], [0, 1, 2]])
/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/scipy/__init__.py:146: UserWarning: A NumPy version >=1.17.3 and <1.25.0 is required for this version of SciPy (detected version 2.0.0
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

A module that was compiled using NumPy 1.x cannot be run in
NumPy 2.0.0 as it may crash. To support both 1.x and 2.x
versions of NumPy, modules must be compiled with NumPy 2.0.
Some module may need to rebuild instead e.g. with 'pybind11>=2.12'.

If you are a user of the module, the easiest solution will be to
downgrade to 'numpy<2' or try to upgrade the affected module.
We expect that some modules will need time to support NumPy 2.

Traceback (most recent call last):  File "/home/dan/anaconda3/envs/geo/lib/python3.9/runpy.py", line 197, in _run_module_as_main
    return _run_code(code, main_globals, None,
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/runpy.py", line 87, in _run_code
    exec(code, run_globals)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/traitlets/config/application.py", line 846, in launch_instance
    app.start()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/kernelapp.py", line 677, in start
    self.io_loop.start()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/tornado/platform/asyncio.py", line 199, in start
    self.asyncio_loop.run_forever()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/asyncio/base_events.py", line 601, in run_forever
    self._run_once()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/asyncio/base_events.py", line 1905, in _run_once
    handle._run()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/asyncio/events.py", line 80, in _run
    self._context.run(self._callback, *self._args)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/kernelbase.py", line 471, in dispatch_queue
    await self.process_one()
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/kernelbase.py", line 460, in process_one
    await dispatch(*args)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/kernelbase.py", line 367, in dispatch_shell
    await result
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/kernelbase.py", line 662, in execute_request
    reply_content = await reply_content
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/ipkernel.py", line 360, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/ipykernel/zmqshell.py", line 532, in run_cell
    return super().run_cell(*args, **kwargs)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2880, in run_cell
    result = self._run_cell(
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 2935, in _run_cell
    return runner(coro)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/async_helpers.py", line 129, in _pseudo_sync_runner
    coro.send(None)
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3134, in run_cell_async
    has_raised = await self.run_ast_nodes(code_ast.body, cell_name,
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3337, in run_ast_nodes
    if await self.run_code(code, result, async_=asy):
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/IPython/core/interactiveshell.py", line 3397, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_2688446/1796676848.py", line 1, in <cell line: 1>
    from data_provider.data_factory import data_provider
  File "/home/dan/NeurIPS2023-One-Fits-All1/Long-term_Forecasting/data_provider/data_factory.py", line 1, in <module>
    from data_provider.data_loader import Dataset_Custom, Dataset_Pred, Dataset_TSF, Dataset_ETT_hour, Dataset_ETT_minute,Dataset_EPS
  File "/home/dan/NeurIPS2023-One-Fits-All1/Long-term_Forecasting/data_provider/data_loader.py", line 8, in <module>
    from sklearn.preprocessing import StandardScaler
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/sklearn/__init__.py", line 82, in <module>
    from .base import clone
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/sklearn/base.py", line 17, in <module>
    from .utils import _IS_32BIT
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/sklearn/utils/__init__.py", line 20, in <module>
    from scipy.sparse import issparse
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/scipy/sparse/__init__.py", line 267, in <module>
    from ._csr import *
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/site-packages/scipy/sparse/_csr.py", line 10, in <module>
    from ._sparsetools import (csr_tocsc, csr_tobsr, csr_count_blocks,

AttributeError: _ARRAY_API not found

ImportError: numpy.core.multiarray failed to import

In [14]:
warnings.filterwarnings('ignore')

fix_seed = 2021
random.seed(fix_seed)
torch.manual_seed(fix_seed)
np.random.seed(fix_seed)

In [15]:
parser = argparse.ArgumentParser()

parser.add_argument('--model_id', type=str, default='test')
parser.add_argument('--checkpoints', type=str, default='./checkpoints/')

parser.add_argument('--root_path', type=str, default='/home/dan/NeurIPS2023-One-Fits-All/dataset/Data/')
parser.add_argument('--data_path', type=str, default='df_EPS_CHAR.csv')
parser.add_argument('--data', type=str, default='eps')
parser.add_argument('--features', type=str, default='MS')
parser.add_argument('--freq', type=int, default=0)
parser.add_argument('--target', type=str, default='vol')
parser.add_argument('--embed', type=str, default='timeF')
parser.add_argument('--percent', type=int, default=100)

parser.add_argument('--seq_len', type=int, default=19)
parser.add_argument('--pred_len', type=int, default=11)
parser.add_argument('--label_len', type=int, default=9)

parser.add_argument('--decay_fac', type=float, default=0.75)
parser.add_argument('--learning_rate', type=float, default=0.0001)
parser.add_argument('--batch_size', type=int, default=1)
parser.add_argument('--num_workers', type=int, default=10)
parser.add_argument('--train_epochs', type=int, default=10)
parser.add_argument('--lradj', type=str, default='type1')
parser.add_argument('--patience', type=int, default=3)

parser.add_argument('--gpt_layers', type=int, default=3)
parser.add_argument('--is_gpt', type=int, default=1)
parser.add_argument('--e_layers', type=int, default=3)
parser.add_argument('--d_model', type=int, default=768)
parser.add_argument('--n_heads', type=int, default=2)
parser.add_argument('--d_ff', type=int, default=786)
parser.add_argument('--dropout', type=float, default=0.2)
parser.add_argument('--enc_in', type=int, default=18)
parser.add_argument('--c_out', type=int, default=1)
parser.add_argument('--patch_size', type=int, default=4)
parser.add_argument('--kernel_size', type=int, default=25)

parser.add_argument('--loss_func', type=str, default='mse')
parser.add_argument('--pretrain', type=int, default=1)
parser.add_argument('--freeze', type=int, default=1)
parser.add_argument('--model', type=str, default='model')
parser.add_argument('--stride', type=int, default=1)
parser.add_argument('--max_len', type=int, default=-1)
parser.add_argument('--hid_dim', type=int, default=16)
parser.add_argument('--tmax', type=int, default=10)

parser.add_argument('--itr', type=int, default=1)
parser.add_argument('--cos', type=int, default=0)
parser.add_argument('--which_firm', type=int, default=0)
parser.add_argument('--num_variables', type=int, default=18)

#args = parser.parse_known_args()[0]
args = parser.parse_args(args=[])

In [16]:
    def month_each_firm(df_EPS,idx):
        select_columns=['date','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']
        tickers=df_EPS['ticker'].unique()
        df_date=pd.DataFrame({'date':df_EPS['date'].dropna().unique()})

        df_0=df_EPS[df_EPS['ticker']==tickers[idx]][select_columns]
        final_0 = pd.merge(df_date, df_0, how='left', on='date')
        df_impute=final_0.iloc[:,1:-1].fillna(0)
        df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)
        return(df_raw)

In [23]:
df_EPS = pd.read_csv(os.path.join(args.root_path,
                                          args.data_path))

In [24]:
df_EPS

,ticker,pends,ym,permno,gvkey,datadate,yq,cusip,value,anndats,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,date
0,DANS,NaN,198001,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-01-01
1,DANS,NaN,198002,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-02-01
2,DANS,NaN,198003,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-03-01
3,DANS,NaN,198004,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-04-01
4,DANS,NaN,198005,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2236220,023A,2023-07-31,202307,17685.0,33301.0,2023-04-30,202303.0,25616310,0.72,2023-09-07,...,0.009274,-0.003308,-0.044046,51.090000,-0.094149,1313675.0,202371.0,0.66,0.66,2023-07-01
2236221,ANF,2023-07-31,202307,83976.0,63643.0,2023-04-30,202303.0,00289620,1.10,2023-08-23,...,-0.043901,-0.066070,0.113301,37.680000,0.214309,350453.0,50065.0,0.14,0.13,2023-07-01
2236222,ORCL,2023-08-31,202308,10104.0,12142.0,2023-05-31,202303.0,68389X10,1.19,2023-09-11,...,0.089011,-0.007677,-0.067191,117.230003,-0.012260,1563054.0,2714259.0,1.14,1.14,2023-08-01
2236223,ADBE,2023-08-31,202308,75510.0,12540.0,2023-05-31,202303.0,00724F10,4.09,2023-09-14,...,-0.292729,-0.004173,0.019000,546.169983,0.116935,607578.0,455800.0,3.88,3.89,2023-08-01
2236224,LEN,2023-08-31,202308,52708.0,6669.0,2023-05-31,202303.0,52605710,3.87,2023-09-14,...,-3.456735,-0.073108,-0.136134,126.830002,0.015123,395920.0,252526.0,2.69,2.85,2023-08-01

In [25]:
different_values =df_EPS.groupby('cusip')['ticker'].nunique() > 1

In [26]:
different_values.sum()

16

In [27]:
df_EPS['ticker'].nunique()

12721

In [7]:
data_EPS_list=[]
for i in range(df_EPS['ticker'].nunique()):
    df_raw=month_each_firm(df_EPS,i)
    data_EPS_list.append(torch.Tensor(df_raw.drop('date',axis=1).values))
    if i%100==0:
        print(i)

0
100
200
300
400
500
600
700
800
900
1000
1100
1200
1300
1400
1500
1600
1700
1800
1900
2000
2100
2200
2300
2400
2500
2600
2700
2800
2900
3000
3100
3200
3300
3400
3500
3600
3700
3800
3900
4000
4100
4200
4300
4400
4500
4600
4700
4800
4900
5000
5100
5200
5300
5400
5500
5600
5700
5800
5900
6000
6100
6200
6300
6400
6500
6600
6700
6800
6900
7000
7100
7200
7300
7400
7500
7600
7700
7800
7900
8000
8100
8200
8300
8400
8500
8600
8700
8800
8900
9000
9100
9200
9300
9400
9500
9600
9700
9800
9900
10000
10100
10200
10300
10400
10500
10600
10700
10800
10900
11000
11100
11200
11300
11400
11500
11600
11700
11800
11900
12000
12100
12200
12300
12400
12500
12600
12700

In [9]:
data_EPS1=torch.stack(data_EPS_list,axis=1)
data_EPS1.shape

torch.Size([524, 12721, 19])

In [12]:
np.save('/home/dan/NeurIPS2023-One-Fits-All1/Long-term_Forecasting/monthly_eps_tensor.npy',data_EPS1.numpy())

In [16]:
df_raw=quarter_each_firm(df_EPS,0)
df_raw

,date,atq_1,atq_2,atq_3,ni_1,ni_2,ni_3,dv_1,dv_2,dv_3,...,shrout_1,shrout_2,shrout_3,medest_1,medest_2,medest_3,meanest_1,meanest_2,meanest_3,value
0,1980-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1980-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.04
2,1980-09-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1980-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,1981-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2022-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
170,2022-09-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
171,2022-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
172,2023-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
173,2023-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [12]:
data_EPS=torch.stack(data_EPS_list,axis=1)

In [14]:
df_draw

NameError: name 'df_draw' is not defined

In [13]:
data_EPS.shape

torch.Size([174, 10, 55])

In [21]:
####################
#split the input output sequence
import numpy as np

# Generate a sample numpy array of length 180
np.random.seed(0)  # For reproducibility
data = np.array(range(data_EPS.shape[0]))

# Define lag and future steps
lag = 20
future_steps = 3

# Create rolling window arrays for X (features) and y (target)
X = []
y = []
for i in range(len(data)-lag-future_steps+1):
    X.append(data[i:i+lag])  # Use data from i to i+lag-1
    y.append(data[i+lag:i+lag+future_steps])  # Predict future_steps values ahead

X = np.array(X)
y = np.array(y)

print("X shape:", X.shape)
print("y shape:", y.shape)

X shape: (152, 20)
y shape: (152, 3)

In [22]:
X[151,:]

array([151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163,
       164, 165, 166, 167, 168, 169, 170])

In [23]:
y[-1,:]

array([171, 172, 173])

In [42]:
X_train=X[0:90,:]
y_train=y[0:90,:]
X_val=X[90:110,:]
y_val=y[90:110,:]
X_test=X[110:,:]
y_test=y[110:,:]

In [44]:
import numpy as np
import torch

class EarlyStopping:
    """Early stops the training if validation loss doesn't improve after a given patience."""
    def __init__(self, patience=7, verbose=False, delta=0):
        """
        Args:
            patience (int): How long to wait after last time validation loss improved.
                            Default: 7
            verbose (bool): If True, prints a message for each validation loss improvement. 
                            Default: False
            delta (float): Minimum change in the monitored quantity to qualify as an improvement.
                            Default: 0
        """
        self.patience = patience
        self.verbose = verbose
        self.counter = 0
        self.best_score = None
        self.early_stop = False
        self.val_loss_min = np.Inf
        self.delta = delta

    def __call__(self, val_loss, model):

        score = -val_loss

        if self.best_score is None:
            self.best_score = score
            self.save_checkpoint(val_loss, model)
        elif score < self.best_score + self.delta:
            self.counter += 1
            print(f'EarlyStopping counter: {self.counter} out of {self.patience}')
            if self.counter >= self.patience:
                self.early_stop = True
        else:
            self.best_score = score
            self.save_checkpoint(val_loss, model)
            self.counter = 0

    def save_checkpoint(self, val_loss, model):
        '''Saves model when validation loss decrease.'''
        if self.verbose:
            print(f'Validation loss decreased ({self.val_loss_min:.6f} --> {val_loss:.6f}).  Saving model ...')
        torch.save(model.state_dict(), path)
        self.val_loss_min = val_loss

In [45]:
#all the functions need to use later

def plot_loss(dic):
    plt.figure(figsize=(12,5))
    plt.subplot(1, 2, 1)
    plt.plot(dic['train_loss'], label='Training loss ')
    plt.plot(dic['val_loss'], label='Validation loss ')
    plt.legend(frameon=False)
    plt.title('train and validation loss')
    plt.xlabel('epoch')
    plt.ylabel('loss')

    plt.subplot(1, 2, 2)
    plt.plot(dic['val_mae'])
    plt.title('validation MAE')
    plt.xlabel('epoch')
    plt.ylabel('MAE')
    plt.show()
    
def multi_mode_dot(tensor, matrix_or_vec_list, modes=None, skip=None):
    if modes is None:
        modes = range(len(matrix_or_vec_list))

    decrement = 0  # If we multiply by a vector, we diminish the dimension of the tensor

    res = tensor

    # Order of mode dots doesn't matter for different modes
    # Sorting by mode shouldn't change order for equal modes
    factors_modes = sorted(zip(matrix_or_vec_list, modes), key=lambda x: x[1])
    for i, (matrix_or_vec, mode) in enumerate(factors_modes):
        if (skip is not None) and (i == skip):
            continue

        if mode==2:
            res = tensorly.tenalg.mode_dot(res, matrix_or_vec, mode - decrement)
        else:
            res = tensorly.tenalg.mode_dot(res, matrix_or_vec, mode - decrement)
            res=torch.nn.functional.leaky_relu_(torch.tensor(res)) 
            res=res.detach().numpy()
            
        
        

        if np.ndim(matrix_or_vec) == 1:
            decrement += 1

    return res

def mape(y_true, y_pred, threshold=0.1):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    v = np.clip(np.abs(y_true), threshold, None)
    diff = np.abs((y_true - y_pred) / v)
    return  100.0 * np.mean(diff, axis=-1).mean()

def mae(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.mean(np.abs(y_pred - y_true))

def rmse(y_true, y_pred):
    y_true, y_pred = np.array(y_true), np.array(y_pred)
    return np.sqrt(np.mean(np.square(y_pred - y_true)))

#use relu or leaky_relu function
def nonlinear(active,vector):
    if active=='relu':
        return torch.nn.functional.relu_(vector)
    elif active == 'leaky_relu':
        return torch.nn.functional.leaky_relu_(vector)
    
#use relu or leaky_relu layer    
def non_layer(active):
    if active=='relu':
        return nn.ReLU()
    elif active=='leaky_relu':
        return nn.LeakyReLU()
    
def train_val_split(tr_idxs,tr_vals,validation_split):
    validation_split = validation_split
    dataset_size = len(tr_vals)
    indices = list(range(dataset_size))
    split = int(np.floor(validation_split * dataset_size))
    np.random.seed(1337)
    np.random.shuffle(indices)
    train_indices, valid_indices = indices[split:], indices[:split]
    tr_idx=tr_idxs[train_indices]
    tr_val=tr_vals[train_indices].reshape(-1,1)
    val_idx=tr_idxs[valid_indices]
    val_val=tr_vals[valid_indices].reshape(-1,1)
    trainset=np.concatenate((tr_idx,tr_val),axis=1)
    valset=np.concatenate((val_idx,val_val),axis=1)
    return trainset,valset

def get_result(experiment,model,tr_idxs,tr_vals):
    _,mse,rmse,mae,mape=experiment.evaluate(model,tr_idxs,tr_vals)
    print('mse:',mse,'rmse:',rmse,'mae:',mae,'mape:',mape)

In [46]:
#shi zhe ge
class ResNet_CP(torch.nn.Module):
    def __init__(self,shape,Rank_CP,rank_CP,layer,batch_size,active,Cuda,**kwargs):
        super(ResNet_CP, self).__init__()
        
    
        #original core initial parameters
        self.E = torch.nn.Embedding(shape[0], Rank_CP, padding_idx=0)#.cuda()#common mode XY
        self.R = torch.nn.Embedding(shape[1], Rank_CP, padding_idx=0)#.cuda()#common mode XY
        self.P = torch.nn.Embedding(shape[2], Rank_CP, padding_idx=0)#.cuda()#individual mode for tensor X
        if Cuda:
            print(Cuda)
            self.E = self.E.cuda()
            self.R =self.R.cuda()
            self.P =self.P.cuda()  
 
        self.loss = torch.nn.MSELoss()
        
        self.Rank_CP=Rank_CP
        self.rank_CP=rank_CP
        self.batch_size=batch_size
        self.layer=layer
        self.active=active
        
    def init(self):
        xavier_normal_(self.E.weight.data)
        xavier_normal_(self.R.weight.data)
        xavier_normal_(self.P.weight.data)
        

    def forward(self, e_idx, r_idx, p_idx):
        Esum=self.E.weight
        Rsum=self.R.weight
        Psum=self.P.weight
        
       
        e = Esum[e_idx,:]
            #e = self.bn0(e) #batch
        e = e.view(-1,self.Rank_CP) #b*R
        r = Rsum[r_idx,:]
            #r = self.bn1(r)#batch
        r = r.view(-1,self.Rank_CP) #b*R
        p = Psum[p_idx,:]
            #p = self.bn2(p)#batch
        p = p.view(-1,self.Rank_CP) #b*R
            
        #CP
        reconstruct_tensor=torch.zeros(e.shape[0],device="cuda")
        for i in range(self.Rank_CP):
            reconstruct_tensor+= e[:,i] * r[:,i] * p[:,i]
        pred=reconstruct_tensor
            #print(pred)
            #print(pred.shape)
        return(pred)

In [4]:
SEASONALITY_MAP = {
   "minutely": 1440,
   "10_minutes": 144,
   "half_hourly": 48,
   "hourly": 24,
   "daily": 7,
   "weekly": 1,
   "monthly": 12,
   "quarterly": 4,
   "yearly": 1
}

In [5]:
# Function to convert 'yyyymm' to 'yyyyqq'
def convert_to_quarter(yyyymm):
    year = yyyymm // 100
    month = yyyymm % 100
    if 1 <= month <= 3:
        quarter = 1
    elif 4 <= month <= 6:
        quarter = 2
    elif 7 <= month <= 9:
        quarter = 3
    else:
        quarter = 4
    return f"{year}0{quarter}"

# Define function to flatten columns into a single row for each group
def flatten_columns(group):
    flattened = {}
    for col in group.columns:
        # Create a new column for each unique entry in the original column
        values = group[col].values
        for i, value in enumerate(values):
            new_col_name = f"{col}_{i+1}"
            flattened[new_col_name] = value
    return pd.Series(flattened)


def quarter_each_firm(df_EPS,idx):
    #all the different firms
    tickers=df_EPS['ticker'].unique()
    #the date and input variable, value is the target
    select_columns=['yq','ym','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']

    #make sure all the month over different firms is same
    df_date=pd.DataFrame({'ym':df_EPS['ym'].dropna().unique()})
    df_0=df_EPS[df_EPS['ticker']==tickers[idx]][select_columns]
    final_0 = pd.merge(df_date, df_0, how='left', on='ym')

    ###########################################
    #deal with the 'yq' has missing information
    #remove the column 'yq' cause have missing value
    final_0 = final_0.drop('yq', axis=1)
    #Generate new yq column based on ym
    # Apply the conversion function to the column
    final_0['yq'] = final_0['ym'].apply(convert_to_quarter)

    #remove the quarter with less than 3 months
    final_0 = final_0[final_0['yq'] != '202303']

    #impute the input value with missing by 0
    df_impute=final_0.fillna(0)
    df_raw = pd.concat([final_0[['yq','ym']], df_impute[select_columns[2:-1]], final_0['value']], axis=1)


    # Apply the function to each group after grouping by 'yq'
    result_df = df_raw.groupby('yq').apply(flatten_columns).reset_index()

    #remove some columns
    columns_to_remove = ['yq', 'yq_1', 'yq_2', 'yq_3', 'ym_1', 'ym_2','value_1', 'value_2']
    # Drop the specified columns
    result_df = result_df.drop(columns=columns_to_remove)

    #convert string format qarter to date type (using the last month of each quarter)
    result_df['ym_3'] = pd.to_datetime(result_df['ym_3'].astype(str),format='%Y%m')
    result_df = result_df.rename(columns={'ym_3': 'date', 'value_3': 'value'})
    return(result_df)

In [6]:
df_EPS = pd.read_csv(os.path.join(args.root_path,args.data_path))
df_EPS

,ticker,pends,ym,permno,gvkey,datadate,yq,cusip,value,anndats,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,date
0,DANS,NaN,198001,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-01-01
1,DANS,NaN,198002,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-02-01
2,DANS,NaN,198003,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-03-01
3,DANS,NaN,198004,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-04-01
4,DANS,NaN,198005,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2236220,023A,2023-07-31,202307,17685.0,33301.0,2023-04-30,202303.0,25616310,0.72,2023-09-07,...,0.009274,-0.003308,-0.044046,51.090000,-0.094149,1313675.0,202371.0,0.66,0.66,2023-07-01
2236221,ANF,2023-07-31,202307,83976.0,63643.0,2023-04-30,202303.0,00289620,1.10,2023-08-23,...,-0.043901,-0.066070,0.113301,37.680000,0.214309,350453.0,50065.0,0.14,0.13,2023-07-01
2236222,ORCL,2023-08-31,202308,10104.0,12142.0,2023-05-31,202303.0,68389X10,1.19,2023-09-11,...,0.089011,-0.007677,-0.067191,117.230003,-0.012260,1563054.0,2714259.0,1.14,1.14,2023-08-01
2236223,ADBE,2023-08-31,202308,75510.0,12540.0,2023-05-31,202303.0,00724F10,4.09,2023-09-14,...,-0.292729,-0.004173,0.019000,546.169983,0.116935,607578.0,455800.0,3.88,3.89,2023-08-01
2236224,LEN,2023-08-31,202308,52708.0,6669.0,2023-05-31,202303.0,52605710,3.87,2023-09-14,...,-3.456735,-0.073108,-0.136134,126.830002,0.015123,395920.0,252526.0,2.69,2.85,2023-08-01

In [74]:
obs_firm=[]
for i in range(df_EPS['ticker'].nunique()):
    df=quarter_each_firm(df_EPS,i)
    tr_num=(~df.iloc[:92]['value'].isnull()).sum()
    vali_num=(~df.iloc[92:92+18]['value'].isnull()).sum()
    te_num=(~df.iloc[92+18:]['value'].isnull()).sum()
    if tr_num>=5 and vali_num>=5 and te_num>=5:
        print(f'firm: {i}, train count: {tr_num}, validation count: {vali_num}, test count: {te_num}')
        obs_firm.append(i)

firm: 2, train count: 30, validation count: 12, test count: 39
firm: 3, train count: 81, validation count: 18, test count: 15
firm: 13, train count: 50, validation count: 12, test count: 48
firm: 18, train count: 45, validation count: 10, test count: 9
firm: 19, train count: 41, validation count: 14, test count: 9
firm: 21, train count: 81, validation count: 18, test count: 64
firm: 22, train count: 45, validation count: 18, test count: 54
firm: 23, train count: 77, validation count: 18, test count: 64
firm: 29, train count: 42, validation count: 18, test count: 18
firm: 34, train count: 76, validation count: 18, test count: 64
firm: 35, train count: 57, validation count: 14, test count: 8
firm: 38, train count: 80, validation count: 18, test count: 64
firm: 40, train count: 72, validation count: 18, test count: 53
firm: 46, train count: 74, validation count: 17, test count: 9
firm: 47, train count: 69, validation count: 17, test count: 5
firm: 49, train count: 81, validation count: 18, test count: 10
firm: 51, train count: 72, validation count: 16, test count: 9
firm: 58, train count: 79, validation count: 18, test count: 46
firm: 60, train count: 68, validation count: 18, test count: 56
firm: 63, train count: 73, validation count: 18, test count: 20
firm: 64, train count: 81, validation count: 18, test count: 64
firm: 66, train count: 81, validation count: 18, test count: 51
firm: 79, train count: 69, validation count: 18, test count: 54
firm: 83, train count: 81, validation count: 18, test count: 64
firm: 85, train count: 77, validation count: 15, test count: 8
firm: 86, train count: 81, validation count: 18, test count: 22
firm: 88, train count: 81, validation count: 18, test count: 64
firm: 89, train count: 81, validation count: 18, test count: 63
firm: 93, train count: 74, validation count: 16, test count: 13
firm: 96, train count: 66, validation count: 18, test count: 64
firm: 101, train count: 80, validation count: 18, test count: 11
firm: 102, train count: 76, validation count: 18, test count: 31
firm: 117, train count: 46, validation count: 18, test count: 50
firm: 119, train count: 18, validation count: 18, test count: 13
firm: 134, train count: 37, validation count: 18, test count: 64
firm: 150, train count: 75, validation count: 18, test count: 64
firm: 153, train count: 62, validation count: 18, test count: 64
firm: 163, train count: 26, validation count: 18, test count: 16
firm: 165, train count: 35, validation count: 18, test count: 64
firm: 167, train count: 68, validation count: 18, test count: 36
firm: 172, train count: 74, validation count: 18, test count: 16
firm: 185, train count: 59, validation count: 18, test count: 8
firm: 195, train count: 60, validation count: 18, test count: 24
firm: 200, train count: 5, validation count: 18, test count: 57
firm: 209, train count: 18, validation count: 17, test count: 45
firm: 214, train count: 33, validation count: 18, test count: 12
firm: 225, train count: 68, validation count: 18, test count: 64
firm: 239, train count: 48, validation count: 18, test count: 8
firm: 242, train count: 16, validation count: 18, test count: 46
firm: 250, train count: 13, validation count: 18, test count: 64
firm: 256, train count: 39, validation count: 11, test count: 34
firm: 275, train count: 52, validation count: 18, test count: 64
firm: 278, train count: 59, validation count: 18, test count: 64
firm: 282, train count: 80, validation count: 18, test count: 5
firm: 284, train count: 80, validation count: 18, test count: 64
firm: 285, train count: 80, validation count: 18, test count: 56
firm: 286, train count: 80, validation count: 18, test count: 23
firm: 288, train count: 80, validation count: 18, test count: 64
firm: 293, train count: 80, validation count: 18, test count: 64
firm: 296, train count: 80, validation count: 18, test count: 64
firm: 297, train count: 80, validation count: 18, test count: 5
firm: 302, train count: 80, validation count: 18, test count: 64
firm: 306, train count: 80, validation count: 18, test count: 64
firm: 310, train count: 78, validation count: 18, test count: 64
firm: 312, train count: 75, validation count: 18, test count: 64
firm: 313, train count: 80, validation count: 18, test count: 64
firm: 315, train count: 80, validation count: 18, test count: 24
firm: 320, train count: 80, validation count: 18, test count: 64
firm: 323, train count: 80, validation count: 18, test count: 64
firm: 328, train count: 80, validation count: 18, test count: 25
firm: 331, train count: 80, validation count: 18, test count: 64
firm: 333, train count: 80, validation count: 18, test count: 64
firm: 337, train count: 80, validation count: 18, test count: 49
firm: 338, train count: 80, validation count: 18, test count: 64
firm: 340, train count: 80, validation count: 18, test count: 46
firm: 342, train count: 80, validation count: 18, test count: 64
firm: 343, train count: 80, validation count: 18, test count: 64
firm: 345, train count: 80, validation count: 18, test count: 32
firm: 347, train count: 80, validation count: 18, test count: 64
firm: 349, train count: 80, validation count: 18, test count: 64
firm: 350, train count: 78, validation count: 18, test count: 64
firm: 355, train count: 80, validation count: 18, test count: 63
firm: 360, train count: 80, validation count: 18, test count: 64
firm: 363, train count: 73, validation count: 13, test count: 64
firm: 366, train count: 80, validation count: 18, test count: 64
firm: 367, train count: 80, validation count: 18, test count: 14
firm: 370, train count: 80, validation count: 18, test count: 43
firm: 373, train count: 80, validation count: 18, test count: 64
firm: 374, train count: 80, validation count: 18, test count: 61
firm: 375, train count: 80, validation count: 18, test count: 64
firm: 379, train count: 80, validation count: 18, test count: 64
firm: 380, train count: 80, validation count: 18, test count: 42
firm: 381, train count: 80, validation count: 18, test count: 10
firm: 382, train count: 80, validation count: 18, test count: 64
firm: 384, train count: 80, validation count: 18, test count: 64
firm: 393, train count: 80, validation count: 18, test count: 64
firm: 394, train count: 80, validation count: 18, test count: 64
firm: 396, train count: 80, validation count: 18, test count: 64
firm: 398, train count: 80, validation count: 18, test count: 64
firm: 401, train count: 60, validation count: 18, test count: 64
firm: 403, train count: 80, validation count: 18, test count: 58
firm: 404, train count: 77, validation count: 18, test count: 64
firm: 405, train count: 80, validation count: 18, test count: 64
firm: 407, train count: 80, validation count: 18, test count: 5
firm: 410, train count: 80, validation count: 18, test count: 64
firm: 415, train count: 80, validation count: 18, test count: 64
firm: 416, train count: 80, validation count: 18, test count: 26
firm: 420, train count: 74, validation count: 18, test count: 5
firm: 421, train count: 80, validation count: 18, test count: 64
firm: 423, train count: 80, validation count: 18, test count: 64
firm: 427, train count: 80, validation count: 18, test count: 64
firm: 428, train count: 80, validation count: 18, test count: 64
firm: 430, train count: 77, validation count: 18, test count: 32
firm: 431, train count: 80, validation count: 18, test count: 12
firm: 433, train count: 80, validation count: 18, test count: 33
firm: 434, train count: 80, validation count: 18, test count: 64
firm: 435, train count: 80, validation count: 18, test count: 27
firm: 437, train count: 80, validation count: 18, test count: 64
firm: 439, train count: 80, validation count: 18, test count: 29
firm: 443, train count: 72, validation count: 18, test count: 64
firm: 444, train count: 80, validation count: 18, test count: 64
firm: 447, train count: 80, validation count: 18, test count: 9
firm: 451, train count: 71, validation count: 18, test count: 62
firm: 453, train count: 80, validation count: 18, test count: 5
firm: 457, train count: 80, validation count: 18, test count: 64
firm: 458, train count: 80, validation count: 18, test count: 19
firm: 463, train count: 80, validation count: 18, test count: 64
firm: 465, train count: 80, validation count: 18, test count: 64
firm: 468, train count: 80, validation count: 18, test count: 64
firm: 470, train count: 80, validation count: 18, test count: 15
firm: 472, train count: 80, validation count: 18, test count: 30
firm: 475, train count: 80, validation count: 18, test count: 24
firm: 477, train count: 80, validation count: 18, test count: 50
firm: 479, train count: 80, validation count: 18, test count: 64
firm: 484, train count: 80, validation count: 18, test count: 64
firm: 490, train count: 80, validation count: 16, test count: 15
firm: 492, train count: 80, validation count: 18, test count: 52
firm: 493, train count: 80, validation count: 18, test count: 10
firm: 494, train count: 80, validation count: 18, test count: 25
firm: 495, train count: 80, validation count: 18, test count: 11
firm: 497, train count: 80, validation count: 18, test count: 64
firm: 502, train count: 80, validation count: 18, test count: 64
firm: 503, train count: 80, validation count: 18, test count: 19
firm: 504, train count: 78, validation count: 18, test count: 64
firm: 505, train count: 80, validation count: 18, test count: 64
firm: 507, train count: 78, validation count: 18, test count: 64
firm: 509, train count: 80, validation count: 18, test count: 12
firm: 513, train count: 80, validation count: 18, test count: 22
firm: 514, train count: 80, validation count: 16, test count: 26
firm: 515, train count: 80, validation count: 15, test count: 14
firm: 521, train count: 79, validation count: 18, test count: 33
firm: 522, train count: 80, validation count: 18, test count: 26
firm: 526, train count: 77, validation count: 18, test count: 64
firm: 531, train count: 80, validation count: 18, test count: 33
firm: 532, train count: 79, validation count: 18, test count: 28
firm: 535, train count: 80, validation count: 18, test count: 45
firm: 538, train count: 80, validation count: 18, test count: 23
firm: 540, train count: 80, validation count: 18, test count: 64
firm: 546, train count: 67, validation count: 18, test count: 8
firm: 548, train count: 80, validation count: 18, test count: 8
firm: 549, train count: 80, validation count: 18, test count: 22
firm: 550, train count: 80, validation count: 18, test count: 64
firm: 552, train count: 80, validation count: 18, test count: 64
firm: 553, train count: 80, validation count: 18, test count: 64
firm: 556, train count: 80, validation count: 18, test count: 64
firm: 559, train count: 80, validation count: 18, test count: 17
firm: 561, train count: 80, validation count: 18, test count: 64
firm: 563, train count: 80, validation count: 18, test count: 64
firm: 564, train count: 80, validation count: 18, test count: 64
firm: 565, train count: 80, validation count: 18, test count: 64
firm: 572, train count: 80, validation count: 18, test count: 64
firm: 575, train count: 80, validation count: 18, test count: 23
firm: 576, train count: 80, validation count: 18, test count: 64
firm: 578, train count: 80, validation count: 18, test count: 64
firm: 579, train count: 78, validation count: 18, test count: 64
firm: 581, train count: 80, validation count: 18, test count: 13
firm: 586, train count: 80, validation count: 18, test count: 20
firm: 588, train count: 80, validation count: 18, test count: 29
firm: 590, train count: 80, validation count: 18, test count: 47
firm: 592, train count: 80, validation count: 17, test count: 8
firm: 594, train count: 80, validation count: 18, test count: 64
firm: 598, train count: 80, validation count: 18, test count: 59
firm: 599, train count: 80, validation count: 18, test count: 12
firm: 603, train count: 80, validation count: 18, test count: 64
firm: 610, train count: 80, validation count: 18, test count: 5
firm: 613, train count: 70, validation count: 18, test count: 19
firm: 614, train count: 80, validation count: 18, test count: 36
firm: 616, train count: 80, validation count: 18, test count: 64
firm: 618, train count: 80, validation count: 18, test count: 64
firm: 620, train count: 80, validation count: 18, test count: 5
firm: 621, train count: 80, validation count: 18, test count: 21
firm: 622, train count: 80, validation count: 18, test count: 64
firm: 623, train count: 80, validation count: 18, test count: 64
firm: 626, train count: 79, validation count: 18, test count: 18
firm: 627, train count: 80, validation count: 18, test count: 64
firm: 629, train count: 80, validation count: 18, test count: 64
firm: 630, train count: 80, validation count: 18, test count: 64
firm: 632, train count: 71, validation count: 18, test count: 58
firm: 640, train count: 29, validation count: 18, test count: 64
firm: 642, train count: 80, validation count: 18, test count: 64
firm: 644, train count: 80, validation count: 18, test count: 64
firm: 647, train count: 78, validation count: 18, test count: 64
firm: 648, train count: 73, validation count: 18, test count: 34
firm: 651, train count: 80, validation count: 18, test count: 15
firm: 654, train count: 80, validation count: 18, test count: 64
firm: 658, train count: 80, validation count: 18, test count: 16
firm: 665, train count: 77, validation count: 18, test count: 25
firm: 666, train count: 74, validation count: 18, test count: 8
firm: 667, train count: 80, validation count: 18, test count: 56
firm: 669, train count: 80, validation count: 18, test count: 50
firm: 670, train count: 80, validation count: 18, test count: 64
firm: 672, train count: 80, validation count: 18, test count: 17
firm: 675, train count: 80, validation count: 18, test count: 64
firm: 676, train count: 80, validation count: 18, test count: 64
firm: 681, train count: 80, validation count: 18, test count: 38
firm: 684, train count: 80, validation count: 18, test count: 45
firm: 686, train count: 80, validation count: 18, test count: 64
firm: 689, train count: 20, validation count: 13, test count: 20
firm: 690, train count: 80, validation count: 18, test count: 64
firm: 691, train count: 80, validation count: 18, test count: 34
firm: 693, train count: 79, validation count: 13, test count: 64
firm: 697, train count: 80, validation count: 18, test count: 64
firm: 701, train count: 80, validation count: 18, test count: 64
firm: 706, train count: 80, validation count: 18, test count: 64
firm: 711, train count: 80, validation count: 18, test count: 64
firm: 716, train count: 80, validation count: 18, test count: 64
firm: 717, train count: 80, validation count: 18, test count: 64
firm: 722, train count: 80, validation count: 18, test count: 64
firm: 723, train count: 80, validation count: 18, test count: 54
firm: 729, train count: 79, validation count: 18, test count: 64
firm: 734, train count: 80, validation count: 18, test count: 64
firm: 735, train count: 80, validation count: 18, test count: 64
firm: 736, train count: 80, validation count: 18, test count: 5
firm: 738, train count: 80, validation count: 18, test count: 64
firm: 740, train count: 80, validation count: 16, test count: 8
firm: 741, train count: 80, validation count: 18, test count: 64
firm: 743, train count: 80, validation count: 18, test count: 64
firm: 744, train count: 80, validation count: 18, test count: 64
firm: 750, train count: 80, validation count: 18, test count: 15
firm: 751, train count: 80, validation count: 18, test count: 64
firm: 752, train count: 78, validation count: 15, test count: 14
firm: 754, train count: 80, validation count: 18, test count: 64
firm: 756, train count: 80, validation count: 18, test count: 64
firm: 762, train count: 80, validation count: 17, test count: 6
firm: 764, train count: 80, validation count: 18, test count: 64
firm: 766, train count: 78, validation count: 18, test count: 64
firm: 768, train count: 80, validation count: 18, test count: 64
firm: 769, train count: 80, validation count: 18, test count: 15
firm: 770, train count: 80, validation count: 18, test count: 64
firm: 775, train count: 80, validation count: 18, test count: 6
firm: 782, train count: 80, validation count: 18, test count: 54
firm: 786, train count: 80, validation count: 18, test count: 44
firm: 789, train count: 80, validation count: 18, test count: 12
firm: 792, train count: 76, validation count: 18, test count: 64
firm: 793, train count: 75, validation count: 18, test count: 9
firm: 796, train count: 80, validation count: 18, test count: 64
firm: 797, train count: 80, validation count: 18, test count: 19
firm: 801, train count: 79, validation count: 18, test count: 61
firm: 802, train count: 80, validation count: 18, test count: 64
firm: 805, train count: 80, validation count: 18, test count: 44
firm: 807, train count: 80, validation count: 18, test count: 64
firm: 808, train count: 80, validation count: 18, test count: 37
firm: 815, train count: 80, validation count: 18, test count: 64
firm: 817, train count: 78, validation count: 18, test count: 13
firm: 819, train count: 80, validation count: 18, test count: 64
firm: 822, train count: 80, validation count: 18, test count: 64
firm: 823, train count: 80, validation count: 18, test count: 64
firm: 824, train count: 80, validation count: 18, test count: 64
firm: 825, train count: 70, validation count: 15, test count: 12
firm: 829, train count: 80, validation count: 18, test count: 64
firm: 832, train count: 80, validation count: 18, test count: 64
firm: 838, train count: 80, validation count: 18, test count: 56
firm: 842, train count: 80, validation count: 18, test count: 64
firm: 843, train count: 80, validation count: 18, test count: 64
firm: 844, train count: 80, validation count: 18, test count: 24
firm: 845, train count: 79, validation count: 18, test count: 64
firm: 846, train count: 80, validation count: 18, test count: 56
firm: 848, train count: 43, validation count: 18, test count: 5
firm: 853, train count: 43, validation count: 18, test count: 49
firm: 855, train count: 80, validation count: 18, test count: 64
firm: 857, train count: 80, validation count: 18, test count: 64
firm: 859, train count: 80, validation count: 18, test count: 64
firm: 862, train count: 80, validation count: 18, test count: 64
firm: 863, train count: 80, validation count: 18, test count: 64
firm: 864, train count: 80, validation count: 18, test count: 45
firm: 868, train count: 80, validation count: 18, test count: 64
firm: 870, train count: 79, validation count: 18, test count: 28
firm: 873, train count: 80, validation count: 18, test count: 32
firm: 874, train count: 72, validation count: 18, test count: 13
firm: 875, train count: 80, validation count: 18, test count: 64
firm: 876, train count: 80, validation count: 18, test count: 58
firm: 877, train count: 80, validation count: 18, test count: 64
firm: 879, train count: 80, validation count: 18, test count: 64
firm: 880, train count: 80, validation count: 18, test count: 64
firm: 883, train count: 80, validation count: 18, test count: 64
firm: 884, train count: 80, validation count: 18, test count: 64
firm: 885, train count: 80, validation count: 18, test count: 64
firm: 886, train count: 79, validation count: 18, test count: 64
firm: 889, train count: 79, validation count: 18, test count: 60
firm: 896, train count: 65, validation count: 16, test count: 57
firm: 902, train count: 80, validation count: 18, test count: 64
firm: 903, train count: 78, validation count: 18, test count: 32
firm: 905, train count: 80, validation count: 18, test count: 64
firm: 908, train count: 80, validation count: 18, test count: 64
firm: 909, train count: 80, validation count: 18, test count: 64
firm: 910, train count: 80, validation count: 18, test count: 64
firm: 911, train count: 80, validation count: 18, test count: 11
firm: 912, train count: 80, validation count: 18, test count: 64

In [8]:
df

,date,atq_1,atq_2,atq_3,ni_1,ni_2,ni_3,dv_1,dv_2,dv_3,...,shrout_1,shrout_2,shrout_3,medest_1,medest_2,medest_3,meanest_1,meanest_2,meanest_3,value
0,1980-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1980-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.04
2,1980-09-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1980-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,1981-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2022-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
170,2022-09-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
171,2022-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
172,2023-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
173,2023-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [65]:
df=quarter_each_firm(df_EPS,2)

In [66]:
(~df.iloc[:92]['value'].isnull()).sum()

30

In [67]:
(~df.iloc[92:92+18]['value'].isnull()).sum()

12

In [68]:
(~df.iloc[92+18:]['value'].isnull()).sum()

39

In [6]:
2,3,13,18,19,21,22,23,29,34,35,38,40,46,47,49,51,58,60,63,64,66,79,83,85,86,88,89,93,96,101,102,117,119

,ym,yq,atq,ni,dv,acc,invest,mc,bm,dinvt,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,value
0,198001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,198002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,198003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,198004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,198005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,202304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
520,202305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
521,202306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
522,202307,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
523,202308,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [23]:

final_0

,ym,atq,ni,dv,acc,invest,mc,bm,dinvt,dar,...,gm,sga,prc,ret,vol,shrout,medest,meanest,value,yq
0,198001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198001
1,198002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198001
2,198003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198001
3,198004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198002
4,198005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,202302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202301
518,202303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202301
519,202304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202302
520,202305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202302
521,202306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202302

In [25]:
final_0

,ym,atq,ni,dv,acc,invest,mc,bm,dinvt,dar,...,gm,sga,prc,ret,vol,shrout,medest,meanest,value,yq
0,198001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198001
1,198002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198001
2,198003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198001
3,198004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198002
4,198005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,198002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,202302,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202301
518,202303,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202301
519,202304,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202302
520,202305,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202302
521,202306,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,202302

In [28]:

df_raw

,yq,ym,atq,ni,dv,acc,invest,mc,bm,dinvt,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,value
0,198001,198001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,198001,198002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,198001,198003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,198002,198004,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,198002,198005,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
517,202301,202302,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
518,202301,202303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
519,202302,202304,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
520,202302,202305,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
521,202302,202306,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [29]:


# Display the resulting DataFrame
result_df

,yq,yq_1,yq_2,yq_3,ym_1,ym_2,ym_3,atq_1,atq_2,atq_3,...,shrout_3,medest_1,medest_2,medest_3,meanest_1,meanest_2,meanest_3,value_1,value_2,value_3
0,198001,198001,198001,198001,198001,198002,198003,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,198002,198002,198002,198002,198004,198005,198006,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,-0.04
2,198003,198003,198003,198003,198007,198008,198009,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
3,198004,198004,198004,198004,198010,198011,198012,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,198101,198101,198101,198101,198101,198102,198103,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,202202,202202,202202,202202,202204,202205,202206,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
170,202203,202203,202203,202203,202207,202208,202209,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
171,202204,202204,202204,202204,202210,202211,202212,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
172,202301,202301,202301,202301,202301,202302,202303,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
173,202302,202302,202302,202302,202304,202305,202306,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN

In [30]:
result_df.columns

Index(['yq', 'yq_1', 'yq_2', 'yq_3', 'ym_1', 'ym_2', 'ym_3', 'atq_1', 'atq_2',
       'atq_3', 'ni_1', 'ni_2', 'ni_3', 'dv_1', 'dv_2', 'dv_3', 'acc_1',
       'acc_2', 'acc_3', 'invest_1', 'invest_2', 'invest_3', 'mc_1', 'mc_2',
       'mc_3', 'bm_1', 'bm_2', 'bm_3', 'dinvt_1', 'dinvt_2', 'dinvt_3',
       'dar_1', 'dar_2', 'dar_3', 'capx_1', 'capx_2', 'capx_3', 'gm_1', 'gm_2',
       'gm_3', 'sga_1', 'sga_2', 'sga_3', 'prc_1', 'prc_2', 'prc_3', 'ret_1',
       'ret_2', 'ret_3', 'vol_1', 'vol_2', 'vol_3', 'shrout_1', 'shrout_2',
       'shrout_3', 'medest_1', 'medest_2', 'medest_3', 'meanest_1',
       'meanest_2', 'meanest_3', 'value_1', 'value_2', 'value_3'],
      dtype='object')

In [32]:
result_df

,ym_3,atq_1,atq_2,atq_3,ni_1,ni_2,ni_3,dv_1,dv_2,dv_3,...,shrout_1,shrout_2,shrout_3,medest_1,medest_2,medest_3,meanest_1,meanest_2,meanest_3,value_3
0,198003,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,198006,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.04
2,198009,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,198012,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,198103,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,202206,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
170,202209,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
171,202212,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
172,202303,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
173,202306,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [36]:
result_df

,date,atq_1,atq_2,atq_3,ni_1,ni_2,ni_3,dv_1,dv_2,dv_3,...,shrout_1,shrout_2,shrout_3,medest_1,medest_2,medest_3,meanest_1,meanest_2,meanest_3,value
0,1980-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1980-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,-0.04
2,1980-09-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1980-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,1981-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
169,2022-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
170,2022-09-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
171,2022-12-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
172,2023-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
173,2023-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [ ]:
import pandas as pd

# Sample data
data = {'yq': ['199301', '199302', '199303', '199304']}
df_EPS = pd.DataFrame(data)

# Function to convert 'yyyyqq' to datetime
def yq_to_datetime(yq_str):
    year = int(yq_str[:4])
    quarter = int(yq_str[4:6])
    month = (quarter - 1) * 3 + 1  # Map 1->1, 2->4, 3->7, 4->10
    return pd.Timestamp(f'{year}-{month:02d}-01')

# Apply the conversion function to the DataFrame
df_EPS['date'] = df_EPS['yq'].apply(yq_to_datetime)

print(df_EPS)

In [5]:
df_EPS = pd.read_csv(os.path.join(args.root_path,args.data_path))
df_EPS

,ticker,pends,ym,permno,gvkey,datadate,yq,cusip,value,anndats,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,date
0,DANS,NaN,198001,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-01-01
1,DANS,NaN,198002,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-02-01
2,DANS,NaN,198003,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-03-01
3,DANS,NaN,198004,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-04-01
4,DANS,NaN,198005,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2236220,023A,2023-07-31,202307,17685.0,33301.0,2023-04-30,202303.0,25616310,0.72,2023-09-07,...,0.009274,-0.003308,-0.044046,51.090000,-0.094149,1313675.0,202371.0,0.66,0.66,2023-07-01
2236221,ANF,2023-07-31,202307,83976.0,63643.0,2023-04-30,202303.0,00289620,1.10,2023-08-23,...,-0.043901,-0.066070,0.113301,37.680000,0.214309,350453.0,50065.0,0.14,0.13,2023-07-01
2236222,ORCL,2023-08-31,202308,10104.0,12142.0,2023-05-31,202303.0,68389X10,1.19,2023-09-11,...,0.089011,-0.007677,-0.067191,117.230003,-0.012260,1563054.0,2714259.0,1.14,1.14,2023-08-01
2236223,ADBE,2023-08-31,202308,75510.0,12540.0,2023-05-31,202303.0,00724F10,4.09,2023-09-14,...,-0.292729,-0.004173,0.019000,546.169983,0.116935,607578.0,455800.0,3.88,3.89,2023-08-01
2236224,LEN,2023-08-31,202308,52708.0,6669.0,2023-05-31,202303.0,52605710,3.87,2023-09-14,...,-3.456735,-0.073108,-0.136134,126.830002,0.015123,395920.0,252526.0,2.69,2.85,2023-08-01

In [13]:
#remove the column 'yq' cause have missing value
df_EPS = df_EPS.drop('yq', axis=1)

In [18]:
#Generate new yq column based on ym
# Function to convert 'yyyymm' to 'yyyyqq'
def convert_to_quarter(yyyymm):
    year = yyyymm // 100
    month = yyyymm % 100
    if 1 <= month <= 3:
        quarter = 1
    elif 4 <= month <= 6:
        quarter = 2
    elif 7 <= month <= 9:
        quarter = 3
    else:
        quarter = 4
    return f"{year}0{quarter}"

# Apply the conversion function to the column
df_EPS['yq'] = df_EPS['ym'].apply(convert_to_quarter)

In [21]:
tickers=df_EPS['ticker'].unique()
select_columns=['yq','ym','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']

#df_date=pd.DataFrame({'date':df_EPS['date'].dropna().unique()})
df_0=df_EPS[df_EPS['ticker']==tickers[0]][select_columns]
#final_0 = pd.merge(df_date, df_0, how='left', on='date')
#df_impute=final_0.iloc[:,1:-1].fillna(0)
#df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)

In [22]:
df_0

,yq,ym,atq,ni,dv,acc,invest,mc,bm,dinvt,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,value
0,198001,198001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,198001,198002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,198001,198003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,198002,198004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,198002,198005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099281,200201,200202,41.0,-4.574,NaN,-0.456,-7.092,1.237606,NaN,0.074433,...,0.391155,0.117198,0.128440,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1107318,200201,200203,41.0,-4.574,NaN,-0.456,-7.092,1.237606,NaN,0.074433,...,0.391155,0.117198,0.128440,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1111738,200202,200204,42.9,-0.228,0.0,1.326,1.900,1.419927,NaN,-0.203119,...,0.091038,-0.283581,-0.161451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117372,200202,200205,42.9,-0.228,0.0,1.326,1.900,1.419927,NaN,-0.203119,...,0.091038,-0.283581,-0.161451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122177,200202,200206,42.9,-0.228,0.0,1.326,1.900,1.419927,NaN,-0.203119,...,0.091038,-0.283581,-0.161451,NaN,NaN,NaN,NaN,NaN,NaN,-0.03

In [28]:


# Define function to flatten columns into a single row for each group
def flatten_columns(group):
    flattened = {}
    for col in group.columns:
        # Create a new column for each unique entry in the original column
        values = group[col].values
        for i, value in enumerate(values):
            new_col_name = f"{col}_{i+1}"
            flattened[new_col_name] = value
    return pd.Series(flattened)

# Apply the function to each group after grouping by 'yq'
result_df = df_0.groupby('yq').apply(flatten_columns).reset_index()

# Display the resulting DataFrame
result_df

,yq,yq_1,yq_2,yq_3,ym_1,ym_2,ym_3,atq_1,atq_2,atq_3,...,shrout_3,medest_1,medest_2,medest_3,meanest_1,meanest_2,meanest_3,value_1,value_2,value_3
0,198001,198001,198001,198001,198001,198002,198003,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,198002,198002,198002,198002,198004,198005,198006,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.04
2,198003,198003,198003,198003,198007,198008,198009,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,198004,198004,198004,198004,198010,198011,198012,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,198101,198101,198101,198101,198101,198102,198103,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,200102,200102,200102,200102,200104,200105,200106,50.238,50.238,50.238,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,200103,200103,200103,200103,200107,200108,200109,48.087,48.087,48.087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,200104,200104,200104,200104,200110,200111,200112,48.092,48.092,48.092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,200201,200201,200201,200201,200201,200202,200203,41.000,41.000,41.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,200202,200202,200202,200202,200204,200205,200206,42.900,42.900,42.900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.03

In [46]:

# Convert the 'yyyyqq' column to integers
result_df['yq'] = pd.to_numeric(result_df['yq'], errors='coerce')

# Function to convert 'yyyyqq' to a date
def quarter_to_date(yyyyqq):
    year = yyyyqq // 100  # Extracts the year part
    quarter = yyyyqq % 100  # Extracts the quarter part

    # Map quarters to the first month of the quarter
    quarter_start_month = {1: 1, 2: 4, 3: 7, 4: 10}
    month = quarter_start_month.get(quarter, 1)  # Default to January if the quarter is missing or invalid

    # Return a date representing the first day of the specified quarter
    return pd.Timestamp(year, month, 1)

# Apply the function to convert the 'yyyyqq' column to a date
result_df['date'] = result_df['yq'].apply(quarter_to_date)

# Display the DataFrame with the new date column
result_df

,yq,yq_1,yq_2,yq_3,ym_1,ym_2,ym_3,atq_1,atq_2,atq_3,...,medest_2,medest_3,meanest_1,meanest_2,meanest_3,value_1,value_2,value_3,quarter_start_date,date
0,198001,198001,198001,198001,198001,198002,198003,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-01-01,1980-01-01
1,198002,198002,198002,198002,198004,198005,198006,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.04,1980-04-01,1980-04-01
2,198003,198003,198003,198003,198007,198008,198009,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-07-01,1980-07-01
3,198004,198004,198004,198004,198010,198011,198012,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-10-01,1980-10-01
4,198101,198101,198101,198101,198101,198102,198103,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1981-01-01,1981-01-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,200102,200102,200102,200102,200104,200105,200106,50.238,50.238,50.238,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-04-01,2001-04-01
86,200103,200103,200103,200103,200107,200108,200109,48.087,48.087,48.087,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-07-01,2001-07-01
87,200104,200104,200104,200104,200110,200111,200112,48.092,48.092,48.092,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2001-10-01,2001-10-01
88,200201,200201,200201,200201,200201,200202,200203,41.000,41.000,41.000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2002-01-01,2002-01-01
89,200202,200202,200202,200202,200204,200205,200206,42.900,42.900,42.900,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.03,2002-04-01,2002-04-01

In [49]:
select_columns=['date','atq_1', 'atq_2',
       'atq_3', 'ni_1', 'ni_2', 'ni_3', 'dv_1', 'dv_2', 'dv_3', 'acc_1',
       'acc_2', 'acc_3', 'invest_1', 'invest_2', 'invest_3', 'mc_1', 'mc_2',
       'mc_3', 'bm_1', 'bm_2', 'bm_3', 'dinvt_1', 'dinvt_2', 'dinvt_3',
       'dar_1', 'dar_2', 'dar_3', 'capx_1', 'capx_2', 'capx_3', 'gm_1', 'gm_2',
       'gm_3', 'sga_1', 'sga_2', 'sga_3', 'prc_1', 'prc_2', 'prc_3', 'ret_1',
       'ret_2', 'ret_3', 'vol_1', 'vol_2', 'vol_3', 'shrout_1', 'shrout_2',
       'shrout_3', 'medest_1', 'medest_2', 'medest_3', 'meanest_1',
       'meanest_2', 'meanest_3','value_3']

final_df=result_df[select_columns]
final_df

,date,atq_1,atq_2,atq_3,ni_1,ni_2,ni_3,dv_1,dv_2,dv_3,...,shrout_1,shrout_2,shrout_3,medest_1,medest_2,medest_3,meanest_1,meanest_2,meanest_3,value_3
0,1980-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1980-04-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.04
2,1980-07-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1980-10-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1981-01-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
85,2001-04-01,50.238,50.238,50.238,-2.080,-2.080,-2.080,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
86,2001-07-01,48.087,48.087,48.087,-2.226,-2.226,-2.226,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
87,2001-10-01,48.092,48.092,48.092,-1.138,-1.138,-1.138,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
88,2002-01-01,41.000,41.000,41.000,-4.574,-4.574,-4.574,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
89,2002-04-01,42.900,42.900,42.900,-0.228,-0.228,-0.228,0.0,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.03

In [57]:
#####################
#construct quarterly data for GPT

#load the data
df_EPS = pd.read_csv(os.path.join(args.root_path,args.data_path))

#deal with the 'yq' has missing information
#remove the column 'yq' cause have missing value
df_EPS = df_EPS.drop('yq', axis=1)
#Generate new yq column based on ym
# Function to convert 'yyyymm' to 'yyyyqq'
def convert_to_quarter(yyyymm):
    year = yyyymm // 100
    month = yyyymm % 100
    if 1 <= month <= 3:
        quarter = 1
    elif 4 <= month <= 6:
        quarter = 2
    elif 7 <= month <= 9:
        quarter = 3
    else:
        quarter = 4
    return f"{year}0{quarter}"

# Apply the conversion function to the column
df_EPS['yq'] = df_EPS['ym'].apply(convert_to_quarter)

tickers=df_EPS['ticker'].unique()
select_columns=['yq','ym','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']

#make sure all the month over different firms is same
df_date=pd.DataFrame({'ym':df_EPS['ym'].dropna().unique()})
df_0=df_EPS[df_EPS['ticker']==tickers[0]][select_columns]

final_0 = pd.merge(df_date, df_0, how='left', on='ym')
df_impute=final_0.iloc[:,1:-1].fillna(0)
df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)



# Define function to flatten columns into a single row for each group
def flatten_columns(group):
    flattened = {}
    for col in group.columns:
        # Create a new column for each unique entry in the original column
        values = group[col].values
        for i, value in enumerate(values):
            new_col_name = f"{col}_{i+1}"
            flattened[new_col_name] = value
    return pd.Series(flattened)

# Apply the function to each group after grouping by 'yq'
result_df = df_raw.groupby('yq').apply(flatten_columns).reset_index()

# Display the resulting DataFrame
result_df

           yq    level_1         0
0           0       ym_1  200207.0
1           0       ym_2  200208.0
2           0       ym_3  200209.0
3           0       ym_4  200210.0
4           0       ym_5  200211.0
...       ...        ...       ...
10999  200202  meanest_2       0.0
11000  200202  meanest_3       0.0
11001  200202    value_1       NaN
11002  200202    value_2       NaN
11003  200202    value_3     -0.03

[11004 rows x 3 columns]

In [73]:
#####################
#construct quarterly data for GPT

#load the data
df_EPS = pd.read_csv(os.path.join(args.root_path,args.data_path))
tickers=df_EPS['ticker'].unique()
select_columns=['yq','ym','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']

#select one firm
df_0=df_EPS[df_EPS['ticker']==tickers[0]][select_columns]

,yq,yq_1,ym_1,atq_1,ni_1,dv_1,acc_1,invest_1,mc_1,bm_1,...,capx_1,gm_1,sga_1,prc_1,ret_1,vol_1,shrout_1,medest_1,meanest_1,value_1
0,198002.0,198002.0,198006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0400
1,198703.0,198703.0,198709.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,198704.0,198704.0,198712.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,198801.0,198801.0,198803.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,198802.0,198802.0,198806.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,198803.0,198803.0,198809.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,198804.0,198804.0,198812.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,198901.0,198901.0,198903.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,198902.0,198902.0,198906.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,198903.0,198903.0,198909.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,198904.0,198904.0,198912.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,199001.0,199001.0,199003.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
12,199002.0,199002.0,199006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13,199003.0,199003.0,199009.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14,199004.0,199004.0,199012.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
15,199101.0,199101.0,199103.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
16,199102.0,199102.0,199106.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.0833
17,199103.0,199103.0,199109.0,NaN,-0.400,NaN,-0.400,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.1472
18,199104.0,199104.0,199112.0,NaN,1.232,NaN,1.232,NaN,NaN,NaN,...,NaN,-0.057941,-0.179638,NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,199201.0,199201.0,199203.0,NaN,0.809,NaN,0.809,NaN,NaN,NaN,...,NaN,0.008867,0.013185,NaN,NaN,NaN,NaN,NaN,NaN,0.2236
20,199202.0,199202.0,199206.0,59.494,1.492,1.150,4.310,NaN,NaN,NaN,...,NaN,-0.092473,0.012182,NaN,NaN,NaN,NaN,NaN,NaN,-0.0545
21,199203.0,199203.0,199209.0,59.500,-0.344,0.000,-2.873,0.006,NaN,NaN,...,-0.132672,0.092113,0.116746,11.0000,NaN,31788.0,6000.0,0.20,0.20,0.1309
22,199204.0,199204.0,199212.0,68.647,1.135,15.240,0.094,9.147,4.166665,-1.077352,...,0.605117,-0.059409,-0.158511,11.2500,0.022727,5606.0,6000.0,-0.11,-0.11,-0.0600
23,199301.0,199301.0,199303.0,66.302,-0.658,15.240,-1.468,-2.345,3.839452,-0.772609,...,-0.424723,NaN,0.086473,7.2500,-0.064516,3310.0,6001.0,0.26,0.26,0.1254
24,199302.0,199302.0,199306.0,68.892,1.375,15.240,4.933,2.590,3.731819,-0.622044,...,0.347687,NaN,-0.131230,6.7500,0.080000,3115.0,5966.0,-0.07,-0.07,-0.0055
25,199303.0,199303.0,199309.0,75.061,-0.217,0.000,1.333,6.169,3.747673,-0.639595,...,-0.243518,-2.752067,0.075172,6.8750,-0.017857,2177.0,5955.0,0.16,0.16,0.0763
26,199304.0,199304.0,199312.0,77.045,0.844,0.000,3.076,1.984,3.381505,-0.278893,...,-0.403035,-0.138039,-0.019297,4.8750,-0.048780,5066.0,5885.0,0.04,0.04,0.0109
27,199401.0,199401.0,199403.0,77.542,0.101,0.000,-1.790,0.497,3.329871,-0.223045,...,-0.015540,0.065020,0.015658,4.8750,0.026316,2432.0,5882.0,-0.27,-0.27,-0.1690
28,199402.0,199402.0,199406.0,74.481,-8.039,0.000,-0.189,-3.061,3.381505,-0.785653,...,0.474159,0.056199,0.093531,3.5000,-0.200000,2846.0,5883.0,-0.03,-0.03,-0.0872
29,199403.0,199403.0,199409.0,77.072,-0.926,0.000,-0.298,2.591,2.737148,-0.212860,...,0.123234,0.011909,-0.035243,2.6250,-0.160000,2503.0,5882.0,0.09,0.09,-0.1854
30,199404.0,199404.0,199412.0,79.032,-2.025,0.000,-0.438,1.960,3.100092,-0.742356,...,0.801764,0.012104,-0.101823,3.6250,0.074074,2546.0,5919.0,0.00,0.00,-0.1254
31,199501.0,199501.0,199503.0,81.601,-1.334,0.000,2.632,2.569,2.917939,-0.695155,...,-0.661837,-0.002298,0.070937,2.8125,-0.134615,2356.0,5921.0,0.15,0.15,-0.1690
32,199502.0,199502.0,199506.0,77.741,-5.372,0.000,-0.721,-3.860,2.845451,-1.197755,...,0.844394,-0.027769,0.096870,2.2500,-0.052632,1347.0,5921.0,NaN,NaN,-0.0185
33,199503.0,199503.0,199509.0,76.164,-0.105,NaN,-0.105,-1.577,2.957836,-1.297895,...,NaN,-0.076629,-0.172566,3.1250,0.250000,2467.0,5924.0,NaN,NaN,0.0463
34,199504.0,199504.0,199512.0,73.372,0.307,NaN,0.307,-2.792,3.031268,-1.316930,...,NaN,0.004918,-0.029319,4.7500,0.117647,11643.0,5921.0,NaN,NaN,-0.5370
35,199601.0,199601.0,199603.0,67.742,-3.424,NaN,-3.424,-5.630,3.282752,-2.864699,...,NaN,0.057590,0.182454,4.5000,-0.052632,2171.0,5922.0,NaN,NaN,-0.3148
36,199602.0,199602.0,199606.0,71.173,-2.031,0.000,2.234,3.431,3.000962,NaN,...,NaN,-0.023635,0.000651,3.1250,0.000000,2811.0,5957.0,NaN,NaN,-0.0648
37,199603.0,199603.0,199609.0,70.554,-0.437,0.000,4.894,-0.619,3.140193,NaN,...,-3.595847,-0.077640,-0.069724,2.7500,-0.083333,2222.0,6061.0,NaN,NaN,0.0741
38,199604.0,199604.0,199612.0,72.699,0.497,0.000,6.636,2.145,2.811163,NaN,...,0.300725,NaN,NaN,2.3750,-0.136364,2143.0,6046.0,NaN,NaN,-0.4815
39,199701.0,199701.0,199703.0,66.940,-3.018,0.202,1.418,-5.759,2.610492,-2.832387,...,0.094798,NaN,NaN,2.3750,0.085714,698.0,6047.0,NaN,NaN,-0.1481
40,199702.0,199702.0,199706.0,69.089,-0.844,0.000,2.785,2.149,2.619219,NaN,...,0.014525,-2.131122,-0.458707,1.5000,-0.250000,2841.0,6100.0,NaN,NaN,-0.2500
41,199703.0,199703.0,199709.0,67.591,-1.587,0.000,2.812,-1.498,1.136229,NaN,...,1.344005,0.097787,-0.038095,NaN,NaN,NaN,NaN,NaN,NaN,-0.0400
42,199704.0,199704.0,199712.0,64.498,-0.314,0.000,4.068,-3.093,2.124370,-0.940192,...,-0.066373,-0.139964,-0.046664,NaN,NaN,NaN,NaN,NaN,NaN,-0.2000
43,199801.0,199801.0,199803.0,55.002,-2.088,0.000,-0.942,-9.496,1.616811,-1.097422,...,0.087916,0.166108,0.086427,NaN,NaN,NaN,NaN,NaN,NaN,-0.0300
44,199802.0,199802.0,199806.0,57.235,-1.757,0.000,-0.190,2.233,2.829671,-5.380717,...,-1.714022,-0.327471,0.017778,NaN,NaN,NaN,NaN,NaN,NaN,-0.0400
45,199803.0,199803.0,199809.0,61.332,-0.319,0.000,2.921,4.097,3.638762,-3.016037,...,-0.386914,-0.043721,0.073508,NaN,NaN,NaN,NaN,NaN,NaN,-0.1100
46,200202.0,200202.0,200206.0,42.900,-0.228,0.000,1.326,1.900,1.419927,NaN,...,0.091038,-0.283581,-0.161451,NaN,NaN,NaN,NaN,NaN,NaN,-0.0300

In [74]:
final_0

,yq,yq_1,ym_1,atq_1,ni_1,dv_1,acc_1,invest_1,mc_1,bm_1,...,capx_1,gm_1,sga_1,prc_1,ret_1,vol_1,shrout_1,medest_1,meanest_1,value_1
0,198002.0,198002.0,198006.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,-0.04
1,198102.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,198201.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,198202.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,198203.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
164,202203.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
165,202204.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
166,202301.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
167,202302.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
168,202303.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [68]:
df_raw['yq'].unique()

array(['198001', '198002', '198003', '198004', '198101', '198102',
       '198103', '198104', '198201', '198202', '198203', '198204',
       '198301', '198302', '198303', '198304', '198401', '198402',
       '198403', '198404', '198501', '198502', '198503', '198504',
       '198601', '198602', '198603', '198604', '198701', '198702',
       '198703', '198704', '198801', '198802', '198803', '198804',
       '198901', '198902', '198903', '198904', '199001', '199002',
       '199003', '199004', '199101', '199102', '199103', '199104',
       '199201', '199202', '199203', '199204', '199301', '199302',
       '199303', '199304', '199401', '199402', '199403', '199404',
       '199501', '199502', '199503', '199504', '199601', '199602',
       '199603', '199604', '199701', '199702', '199703', '199704',
       '199801', '199802', '199803', '199804', '199901', '199902',
       '199903', '199904', '200001', '200002', '200003', '200004',
       '200101', '200102', '200103', '200104', '200201', '200202',
       '200203', '200204', '200301', '200302', '200303', '200304',
       '200401', '200402', '200403', '200404', '200501', '200502',
       '200503', '200504', '200601', '200602', '200603', '200604',
       '200701', '200702', '200703', '200704', '200801', '200802',
       '200803', '200804', '200901', '200902', '200903', '200904',
       '201001', '201002', '201003', '201004', '201101', '201102',
       '201103', '201104', '201201', '201202', '201203', '201204',
       '201301', '201302', '201303', '201304', '201401', '201402',
       '201403', '201404', '201501', '201502', '201503', '201504',
       '201601', '201602', '201603', '201604', '201701', '201702',
       '201703', '201704', '201801', '201802', '201803', '201804',
       '201901', '201902', '201903', '201904', '202001', '202002',
       '202003', '202004', '202101', '202102', '202103', '202104',
       '202201', '202202', '202203', '202204', '202301', '202302',
       '202303'], dtype=object)

In [70]:
# Define function to flatten columns into a single row for each group
def flatten_columns(group):
    flattened = {}
    for col in group.columns:
        # Create a new column for each unique entry in the original column
        values = group[col].values
        for i, value in enumerate(values):
            new_col_name = f"{col}_{i+1}"
            flattened[new_col_name] = value
    return pd.Series(flattened)

# Apply the function to each group after grouping by 'yq'
result_df = final_0.groupby('yq').apply(flatten_columns).reset_index()

# Display the resulting DataFrame
result_df

           yq    level_1       0
0      198001       ym_1  198001
1      198001       ym_2  198002
2      198001       ym_3  198003
3      198001      atq_1     NaN
4      198001      atq_2     NaN
...       ...        ...     ...
10999  202303  meanest_2     NaN
11000  202303    value_1     NaN
11001  202303    value_2     NaN
11002  202303       yq_1  202303
11003  202303       yq_2  202303

[11004 rows x 3 columns]

In [60]:
final_0 = pd.merge(df_date, df_0, how='left', on='ym')
df_impute=final_0.iloc[:,1:-1].fillna(0)
df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)
df_raw

,ym,yq,atq,ni,dv,acc,invest,mc,bm,dinvt,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,value
0,198001,198001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,198002,198001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,198003,198001,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,198004,198002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,198005,198002,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,202304,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
520,202305,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
521,202306,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
522,202307,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
523,202308,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [66]:

final_0 = pd.merge(df_date, df_0, how='left', on='ym')
df_impute=final_0.iloc[:,1:-1].fillna(0)
df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)

# Define function to flatten columns into a single row for each group
def flatten_columns(group):
    flattened = {}
    for col in group.columns:
        # Create a new column for each unique entry in the original column
        values = group[col].values
        for i, value in enumerate(values):
            new_col_name = f"{col}_{i+1}"
            flattened[new_col_name] = value
    return pd.Series(flattened)

# Apply the function to each group after grouping by 'yq'
result_df = df_raw.groupby('yq').apply(flatten_columns).reset_index()

# Display the resulting DataFrame
result_df

             yq    level_1          0
0           0.0       ym_1  198001.00
1           0.0       ym_2  198002.00
2           0.0       ym_3  198003.00
3           0.0       ym_4  198004.00
4           0.0       ym_5  198005.00
...         ...        ...        ...
10999  200202.0      vol_1       0.00
11000  200202.0   shrout_1       0.00
11001  200202.0   medest_1       0.00
11002  200202.0  meanest_1       0.00
11003  200202.0    value_1      -0.03

[11004 rows x 3 columns]

In [38]:
#check the value is observed in which month of a quarter
# Use 'thresh' parameter in dropna() to keep rows with at least 2 non-null values in the specified columns
filtered_df = result_df.dropna(subset=['value_1', 'value_2', 'value_3'], thresh=1)
# Display the filtered DataFrame
print("\nRows with more than 1 non-missing value:")
print(filtered_df[['value_1','value_2','value_3']])

Rows with more than 1 non-missing value:
    value_1  value_2  value_3
1       NaN      NaN  -0.0400
45      NaN      NaN  -0.0833
46      NaN      NaN   0.1472
48      NaN      NaN   0.2236
49      NaN      NaN  -0.0545
50      NaN      NaN   0.1309
51      NaN      NaN  -0.0600
52      NaN      NaN   0.1254
53      NaN      NaN  -0.0055
54      NaN      NaN   0.0763
55      NaN      NaN   0.0109
56      NaN      NaN  -0.1690
57      NaN      NaN  -0.0872
58      NaN      NaN  -0.1854
59      NaN      NaN  -0.1254
60      NaN      NaN  -0.1690
61      NaN      NaN  -0.0185
62      NaN      NaN   0.0463
63      NaN      NaN  -0.5370
64      NaN      NaN  -0.3148
65      NaN      NaN  -0.0648
66      NaN      NaN   0.0741
67      NaN      NaN  -0.4815
68      NaN      NaN  -0.1481
69      NaN      NaN  -0.2500
70      NaN      NaN  -0.0400
71      NaN      NaN  -0.2000
72      NaN      NaN  -0.0300
73      NaN      NaN  -0.0400
74      NaN      NaN  -0.1100
89      NaN      NaN  -0.0300

,yq,ym,atq,ni,dv,acc,invest,mc,bm,dinvt,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,value
0,198001,198001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,198001,198002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,198001,198003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,198002,198004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,198002,198005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099281,200201,200202,41.0,-4.574,NaN,-0.456,-7.092,1.237606,NaN,0.074433,...,0.391155,0.117198,0.128440,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1107318,200201,200203,41.0,-4.574,NaN,-0.456,-7.092,1.237606,NaN,0.074433,...,0.391155,0.117198,0.128440,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1111738,200202,200204,42.9,-0.228,0.0,1.326,1.900,1.419927,NaN,-0.203119,...,0.091038,-0.283581,-0.161451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117372,200202,200205,42.9,-0.228,0.0,1.326,1.900,1.419927,NaN,-0.203119,...,0.091038,-0.283581,-0.161451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122177,200202,200206,42.9,-0.228,0.0,1.326,1.900,1.419927,NaN,-0.203119,...,0.091038,-0.283581,-0.161451,NaN,NaN,NaN,NaN,NaN,NaN,-0.03

In [9]:
tickers=df_EPS['ticker'].unique()
select_columns=['yq','ym','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']

#df_date=pd.DataFrame({'date':df_EPS['date'].dropna().unique()})
df_0=df_EPS[df_EPS['ticker']==tickers[0]][select_columns]
#final_0 = pd.merge(df_date, df_0, how='left', on='date')
#df_impute=final_0.iloc[:,1:-1].fillna(0)
#df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)

In [12]:
df_EPS.dtypes

ticker       object
pends        object
ym            int64
permno      float64
gvkey       float64
datadate     object
yq          float64
cusip        object
value       float64
anndats      object
begin         int64
end           int64
seq           int64
fyearq      float64
fqtr        float64
fyr         float64
sic         float64
industry    float64
atq         float64
ni          float64
dv          float64
acc         float64
invest      float64
mc          float64
bm          float64
dinvt       float64
dar         float64
capx        float64
gm          float64
sga         float64
prc         float64
ret         float64
vol         float64
shrout      float64
medest      float64
meanest     float64
date         object
dtype: object

In [10]:
df_0

,yq,ym,atq,ni,dv,acc,invest,mc,bm,dinvt,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,value
0,NaN,198001,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,198002,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,198003,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,198004,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,198005,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1099281,NaN,200202,41.0,-4.574,NaN,-0.456,-7.092,1.237606,NaN,0.074433,...,0.391155,0.117198,0.128440,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1107318,NaN,200203,41.0,-4.574,NaN,-0.456,-7.092,1.237606,NaN,0.074433,...,0.391155,0.117198,0.128440,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1111738,NaN,200204,42.9,-0.228,0.0,1.326,1.900,1.419927,NaN,-0.203119,...,0.091038,-0.283581,-0.161451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1117372,NaN,200205,42.9,-0.228,0.0,1.326,1.900,1.419927,NaN,-0.203119,...,0.091038,-0.283581,-0.161451,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1122177,200202.0,200206,42.9,-0.228,0.0,1.326,1.900,1.419927,NaN,-0.203119,...,0.091038,-0.283581,-0.161451,NaN,NaN,NaN,NaN,NaN,NaN,-0.03

In [24]:
df_EPS = pd.read_csv(os.path.join(args.root_path,args.data_path))
df_EPS

,ticker,pends,ym,permno,gvkey,datadate,yq,cusip,value,anndats,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,date
0,DANS,NaN,198001,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-01-01
1,DANS,NaN,198002,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-02-01
2,DANS,NaN,198003,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-03-01
3,DANS,NaN,198004,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-04-01
4,DANS,NaN,198005,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2236220,023A,2023-07-31,202307,17685.0,33301.0,2023-04-30,202303.0,25616310,0.72,2023-09-07,...,0.009274,-0.003308,-0.044046,51.090000,-0.094149,1313675.0,202371.0,0.66,0.66,2023-07-01
2236221,ANF,2023-07-31,202307,83976.0,63643.0,2023-04-30,202303.0,00289620,1.10,2023-08-23,...,-0.043901,-0.066070,0.113301,37.680000,0.214309,350453.0,50065.0,0.14,0.13,2023-07-01
2236222,ORCL,2023-08-31,202308,10104.0,12142.0,2023-05-31,202303.0,68389X10,1.19,2023-09-11,...,0.089011,-0.007677,-0.067191,117.230003,-0.012260,1563054.0,2714259.0,1.14,1.14,2023-08-01
2236223,ADBE,2023-08-31,202308,75510.0,12540.0,2023-05-31,202303.0,00724F10,4.09,2023-09-14,...,-0.292729,-0.004173,0.019000,546.169983,0.116935,607578.0,455800.0,3.88,3.89,2023-08-01
2236224,LEN,2023-08-31,202308,52708.0,6669.0,2023-05-31,202303.0,52605710,3.87,2023-09-14,...,-3.456735,-0.073108,-0.136134,126.830002,0.015123,395920.0,252526.0,2.69,2.85,2023-08-01

In [31]:
select_firm=[]
tickers=df_EPS['ticker'].unique()

for i in range(len(tickers)):
    select_columns=['date','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']

    df_date=pd.DataFrame({'date':df_EPS['date'].dropna().unique()})
    df_0=df_EPS[df_EPS['ticker']==tickers[i]][select_columns]
    final_0 = pd.merge(df_date, df_0, how='left', on='date')
    df_impute=final_0.iloc[:,1:-1].fillna(0)
    df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)

    num_observed_vali=(~np.isnan(df_raw['value'][347:401])).sum()
    num_observed_test=(~np.isnan(df_raw['value'][401:])).sum()
    if num_observed_vali>=5 and num_observed_test>=5:
       select_firm.append(i)
       print(i,num_observed_vali,num_observed_test)

7 18 41
13 10 33
21 18 41
22 15 34
23 18 41
25 13 34
26 18 40
34 18 41
38 18 41
40 18 30
58 18 23
60 12 39
64 18 41
66 17 29
79 18 31
83 18 41
88 18 41
89 18 40
90 18 41
96 18 41
102 18 8
117 13 32
122 15 36
125 18 40
126 18 33
134 18 41
141 18 41
143 18 10
148 18 41
150 18 41
151 8 7
153 18 41
156 18 5
165 18 41
166 18 40
167 18 13
174 18 8
176 18 21
179 18 40
184 18 40
193 18 39
194 18 40
200 18 34
203 18 40
206 18 41
208 7 20
209 10 30
210 18 40
220 18 40
221 18 40
223 18 40
224 18 25
225 18 41
226 18 41
227 18 22
228 18 40
229 18 40
236 18 39
237 18 41
238 18 40
241 18 11
242 18 23
250 18 41
251 18 12
253 18 14
258 10 37
275 18 41
276 18 40
278 18 41
279 18 40
284 18 41
285 18 33
288 18 41
293 18 41
296 18 41
302 18 41
306 18 41
310 18 41
312 18 41
313 18 41
320 18 41
323 18 41
331 18 41
333 18 41
337 18 26
338 18 41
340 18 23
342 18 41
343 18 41
345 18 9
347 18 41
349 18 41
350 18 41
355 18 40
360 18 41
363 18 41
366 18 41
370 18 20
373 18 41
374 18 38
375 18 41
379 18 41
380 18 19
382 18 41
384 18 41
393 18 41
394 18 41
396 18 41
398 18 41
401 18 41
403 18 35
404 18 41
405 18 41
410 18 41
415 18 41
416 18 6
421 18 41
423 18 41
427 18 41
428 18 41
433 18 10
434 18 41
437 18 41
439 18 6
443 18 41
444 18 41
451 18 39
457 18 41
463 18 41
465 18 41
468 18 41
472 18 7
477 18 27
479 18 41
484 18 41
492 18 29
497 18 41
502 18 41
504 18 41
505 18 41
507 18 41
521 18 10
526 18 41
531 18 10
535 18 22
540 18 41
550 18 41
552 18 41
553 18 41
556 18 41
561 18 41
563 18 41
564 18 41
565 18 41
572 18 41
576 18 41
578 18 41
579 18 41
588 18 6
590 18 24
594 18 41
598 13 41
603 18 41
614 18 13
616 18 41
618 18 41
622 18 41
623 18 41
627 18 41
629 18 41
630 18 41
632 15 38
640 18 41
642 18 41
644 18 41
647 18 41
648 18 11
654 18 41
667 18 33
669 18 27
670 18 41
675 18 41
676 18 41
681 18 15
684 18 22
686 18 41
690 18 41
691 14 15
693 18 41
697 18 41
701 18 41
706 18 41
711 18 41
716 18 41
717 18 41
722 18 41
723 18 31
729 18 41
734 18 41
735 18 41
738 18 41
741 18 41
743 18 41
744 18 41
751 18 41
754 18 41
756 18 41
764 18 41
765 18 41
766 18 41
768 18 41
770 18 41
782 18 31
786 18 21
792 18 41
796 18 41
801 18 38
802 18 41
805 18 21
807 18 41
808 18 14
815 18 41
819 18 41
822 18 41
823 18 41
824 18 41
829 18 41
832 18 41
838 18 33
842 18 41
843 18 41
845 18 41
846 18 33
853 18 26
855 18 41
857 18 41
859 18 41
862 18 41
863 18 41
864 18 22
868 18 41
870 18 5
873 18 9
875 18 41
876 18 35
877 18 41
879 18 41
880 18 41
883 18 41
884 18 41
885 18 41
886 18 41
889 18 37
896 18 34
902 18 41
903 18 9
905 18 41
908 18 41
909 18 41
910 18 41
912 18 41
913 18 41
919 18 41
920 18 41
922 11 5
925 18 41
926 18 41
927 8 33
930 18 41
932 18 41
933 18 28
941 18 41
946 18 41
948 18 41
952 18 41
954 18 41
956 18 41
957 18 7
960 18 41
963 18 41
965 18 41
968 18 41
972 18 41
982 18 17
983 18 41
989 18 41
991 18 41
992 18 41
996 18 41
1001 18 41
1003 18 41
1004 18 41
1006 18 41
1008 18 41
1011 18 41
1014 18 41
1019 18 41
1029 18 41
1034 18 41
1045 18 41
1046 18 41
1049 18 41
1059 18 41
1060 8 31
1063 18 32
1071 18 41
1077 18 10
1082 18 41
1086 18 41
1091 18 20
1100 18 41
1102 18 10
1103 18 41
1108 18 41
1113 18 41
1117 18 27
1123 18 39
1126 18 41
1130 18 16
1131 18 41
1132 18 41
1139 18 41
1142 18 6
1143 18 41
1145 18 41
1151 18 41
1162 18 41
1163 18 41
1171 18 8
1178 18 41
1180 18 22
1187 18 41
1190 18 41
1195 18 27
1196 18 36
1197 18 41
1198 18 41
1202 18 41
1205 18 41
1208 18 41
1214 18 34
1215 8 14
1216 18 17
1224 18 41
1225 18 29
1227 18 12
1229 18 41
1231 18 41
1233 18 41
1234 18 41
1236 18 41
1242 18 12
1243 13 10
1245 18 41
1250 18 6
1251 18 41
1256 18 41
1259 18 41
1265 18 41
1267 18 41
1271 18 41
1272 18 41
1286 18 41
1288 18 41
1289 7 35
1290 18 41
1291 18 41
1294 18 41
1296 18 41
1298 18 41
1301 18 41
1304 5 19
1305 18 41
1307 18 41
1309 18 8
1313 18 41
1314 18 32
1318 18 41
1324 18 41
1327 18 41
1329 18 41
1332 18 18
1333 18 41
1337 18 41
1338 18 41
1339 18 41
1340 18 41
1341 18 41
1351 18 9
1352 18 41
1353 18 41
1355 13 21
1356 18 41
1357 18 34
1363 18 41
1364 18 18
1367 18 41
1369 18 41
1371 18 14
1373 18 41
1374 17 17
1376 18 41
1379 18 41
1381 18 41
1384 18 36
1385 18 41
1389 18 6
1390 16 38
1394 18 41
1397 18 41
1400 18 41
1409 18 17
1414 18 41
1417 8 21
1419 18 41
1421 18 41
1422 18 41
1423 18 41
1429 8 18
1433 18 41
1434 18 41
1438 18 41
1439 18 41
1442 18 41
1443 18 41
1444 18 41
1445 18 41
1448 18 40
1450 18 41
1451 18 41
1452 18 41
1455 18 41
1459 18 41
1466 18 41
1468 18 10
1472 18 41
1473 18 8
1475 18 41
1479 18 41
1483 18 18
1487 18 41
1490 18 41
1493 18 41
1496 18 41
1497 18 41
1509 18 41
1511 18 41
1516 18 30
1517 18 41
1518 18 41
1523 18 41
1526 18 20
1537 18 41
1540 18 41
1544 18 21
1548 18 20
1549 18 41
1550 18 41
1553 18 41
1554 18 41
1557 18 41
1561 18 41
1563 18 41
1564 18 11
1567 18 8
1570 18 41
1573 18 35
1579 18 41
1580 18 41
1583 18 16
1584 18 41
1585 18 32
1591 18 8
1594 18 41
1598 18 13
1601 18 41
1603 18 40
1606 18 40
1608 18 40
1611 17 31
1624 18 41
1628 18 41
1629 8 28
1636 18 41
1647 18 28
1649 18 41
1662 18 15
1666 18 25
1671 18 23
1675 14 38
1680 18 41
1682 15 7
1683 18 41
1684 18 18
1686 18 24
1693 18 40
1695 18 22
1708 12 41
1709 18 38
1710 18 41
1713 18 27
1718 18 41
1722 17 35
1736 18 41
1740 18 41
1747 18 41
1753 18 41
1754 18 6
1766 18 41
1781 18 41
1787 8 34
1789 18 23
1818 18 41
1819 18 35
1830 18 23
1838 18 41
1843 18 41
1850 15 5
1855 18 41
1865 18 40
1870 18 22
1871 18 10
1874 6 23
1891 18 22
1905 14 39
1908 18 41
1910 18 41
1927 18 41
1928 18 41
1936 18 41
1939 18 41
1950 18 41
1968 18 11
1974 18 41
1981 18 41
1989 18 41
1996 18 41
1997 18 40
2003 18 41
2006 17 40
2013 13 7
2017 18 20
2018 10 16
2019 18 39
2023 18 26
2029 18 40
2030 18 41
2034 18 41
2035 18 41
2036 18 27
2042 8 19
2044 18 13
2049 18 41
2061 18 41
2071 18 40
2076 18 41
2077 17 5
2085 18 41
2089 18 41
2090 18 41
2092 18 41
2099 18 41
2106 18 41
2109 18 38
2110 18 22
2117 18 41
2119 18 32
2127 18 41
2128 18 41
2132 18 41
2139 18 11
2144 18 41
2148 18 41
2152 18 5
2155 18 15
2156 6 41
2163 18 41
2170 18 9
2179 18 25
2180 18 41
2186 18 8
2190 18 41
2194 18 36
2197 10 7
2200 18 26
2202 18 5
2217 18 41
2225 18 41
2229 18 41
2235 18 40
2239 18 41
2247 18 41
2250 18 41
2251 18 41
2252 13 40
2262 18 41
2264 17 34
2267 18 41
2280 18 6
2289 18 37
2290 18 41
2295 18 41
2303 18 41
2314 18 11
2315 18 27
2319 18 41
2327 18 41
2328 17 41
2329 18 41
2346 18 41
2348 18 41
2351 18 20
2355 18 15
2356 18 41
2357 9 14
2362 18 41
2363 18 41
2379 18 40
2386 18 13
2390 14 24
2395 18 41
2408 18 41

KeyboardInterrupt:

In [44]:
i=10
df_select=df_EPS[df_EPS['ticker']==tickers[i]][select_columns]
df_select['value'].values

array([  nan,   nan,   nan,   nan,   nan,   nan,  2.12,   nan,   nan,
         nan,   nan,   nan,  2.16,   nan,   nan,  2.64,   nan,   nan,
        2.68,   nan,   nan,  3.72,   nan,   nan,  3.94,   nan,   nan,
        3.04,   nan,   nan,  3.72,   nan,   nan,  4.02,   nan,   nan,
        3.3 ,   nan,   nan, -0.52,   nan,   nan,   nan,   nan,   nan,
        3.6 ,   nan,   nan,  2.76,   nan,   nan,  2.36,   nan,   nan,
        2.08,   nan,   nan,  2.42,   nan,   nan,  2.76,   nan,   nan,
        3.22,   nan,   nan,  2.84,   nan,   nan,  3.64,   nan,   nan,
        7.76,   nan,   nan,  6.12,   nan,   nan, -3.48,   nan,   nan,
        3.44,   nan,   nan,  9.76,   nan,   nan,  4.32,   nan,   nan,
       -1.2 ,   nan,   nan,  4.6 ,   nan,   nan,  3.72,   nan,   nan,
        2.32,   nan,   nan,  5.36])

In [34]:
select_firm=[]
tickers=df_EPS['ticker'].unique()

for i in range(len(tickers)):
    select_columns=['date','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']

    df_date=pd.DataFrame({'date':df_EPS['date'].dropna().unique()})
    df_0=df_EPS[df_EPS['ticker']==tickers[i]][select_columns]
    final_0 = pd.merge(df_date, df_0, how='left', on='date')
    df_impute=final_0.iloc[:,1:-1].fillna(0)
    df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)

    num_observed_vali=(~np.isnan(df_raw['value'][347:401])).sum()
    num_observed_test=(~np.isnan(df_raw['value'][401:])).sum()
    if num_observed_vali>=5 and num_observed_test>=5:
       select_firm.append(i)
       print(i,num_observed_vali,num_observed_test)

7 18 41
13 10 33
21 18 41
22 15 34
23 18 41
25 13 34
26 18 40
34 18 41
38 18 41
40 18 30
58 18 23
60 12 39
64 18 41
66 17 29
79 18 31
83 18 41
88 18 41
89 18 40
90 18 41
96 18 41
102 18 8
117 13 32
122 15 36
125 18 40
126 18 33
134 18 41
141 18 41
143 18 10
148 18 41
150 18 41
151 8 7
153 18 41
156 18 5
165 18 41
166 18 40
167 18 13
174 18 8
176 18 21
179 18 40
184 18 40
193 18 39
194 18 40
200 18 34
203 18 40
206 18 41
208 7 20
209 10 30
210 18 40
220 18 40
221 18 40
223 18 40
224 18 25
225 18 41
226 18 41
227 18 22
228 18 40
229 18 40
236 18 39
237 18 41
238 18 40
241 18 11
242 18 23
250 18 41
251 18 12
253 18 14
258 10 37
275 18 41
276 18 40
278 18 41
279 18 40
284 18 41
285 18 33
288 18 41
293 18 41
296 18 41
302 18 41
306 18 41
310 18 41
312 18 41
313 18 41
320 18 41
323 18 41
331 18 41
333 18 41
337 18 26
338 18 41
340 18 23
342 18 41
343 18 41
345 18 9
347 18 41

KeyboardInterrupt:

In [36]:
print(select_firm)

[7, 13, 21, 22, 23, 25, 26, 34, 38, 40, 58, 60, 64, 66, 79, 83, 88, 89, 90, 96, 102, 117, 122, 125, 126, 134, 141, 143, 148, 150, 151, 153, 156, 165, 166, 167, 174, 176, 179, 184, 193, 194, 200, 203, 206, 208, 209, 210, 220, 221, 223, 224, 225, 226, 227, 228, 229, 236, 237, 238, 241, 242, 250, 251, 253, 258, 275, 276, 278, 279, 284, 285, 288, 293, 296, 302, 306, 310, 312, 313, 320, 323, 331, 333, 337, 338, 340, 342, 343, 345, 347]

In [37]:
output_str = ' '.join(map(str, select_firm))

# Print the formatted string
print(output_str)

7 13 21 22 23 25 26 34 38 40 58 60 64 66 79 83 88 89 90 96 102 117 122 125 126 134 141 143 148 150 151 153 156 165 166 167 174 176 179 184 193 194 200 203 206 208 209 210 220 221 223 224 225 226 227 228 229 236 237 238 241 242 250 251 253 258 275 276 278 279 284 285 288 293 296 302 306 310 312 313 320 323 331 333 337 338 340 342 343 345 347

In [5]:
mses = []
maes = []

for ii in range(args.itr):

    setting = '{}_sl{}_ll{}_pl{}_dm{}_nh{}_el{}_gl{}_df{}_eb{}_itr{}'.format(args.model_id, 18, args.label_len, args.pred_len,
                                                                    args.d_model, args.n_heads, args.e_layers, args.gpt_layers, 
                                                                    args.d_ff, args.embed, ii)
    path = os.path.join(args.checkpoints, setting)
    if not os.path.exists(path):
        os.makedirs(path)

    if args.freq == 0:
        args.freq = "M"
   

    train_data, train_loader = data_provider(args, 'train')
    vali_data, vali_loader = data_provider(args, 'val')
    test_data, test_loader = data_provider(args, 'test')

['date', 'atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm', 'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout', 'medest', 'meanest', 'value']
train 337
['date', 'atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm', 'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout', 'medest', 'meanest', 'value']
val 44
['date', 'atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm', 'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout', 'medest', 'meanest', 'value']
test 94

In [13]:
for i, (batch_x, batch_y, batch_x_mark, batch_y_mark) in tqdm(enumerate(vali_loader)):
   # if (~batch_y.isnan()).sum()!=0:
       print(i)
       print('y',batch_y.shape)
       print(batch_y)

6it [00:00, 38.45it/s]

0
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
1
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
2
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
3
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
4
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
5
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
6
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
7
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
8
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
9
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
10
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
11
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
12
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
13
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
14
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
15
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
16
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
17
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
18
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
19
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
20
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
21
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
22
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
23
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
24
y torch.Size([1, 20, 1])

34it [00:00, 107.52it/s]

tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
25
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
26
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
27
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
28
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
29
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
30
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
31
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
32
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
33
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
34
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
35
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
36
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
37
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
38
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
39
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
40
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
41
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
42
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)
43
y torch.Size([1, 20, 1])
tensor([[[-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698],
         [-0.2698]]], dtype=torch.float64)

44it [00:00, 101.04it/s]

In [43]:
train_data[1][1]

array([[nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan],
       [nan]])

In [31]:
(~batch_y.isnan()).sum()

tensor(0)

In [32]:
batch_y.shape

torch.Size([1, 20, 1])

In [33]:
batch_y

tensor([[[nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan],
         [nan]]], dtype=torch.float64)

In [35]:
data_x

NameError: name 'data_x' is not defined

In [114]:
batch_x.shape

torch.Size([512, 19, 1])

In [15]:
batch_x[0,:,:]

tensor([[-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698],
        [-0.2698]], dtype=torch.float64)

In [6]:
    device = torch.device('cuda:0')

    time_now = time.time()
    train_steps = len(train_loader)

    if args.model == 'PatchTST':
        model = PatchTST(args, device)
        model.to(device)
    elif args.model == 'DLinear':
        model = DLinear(args, device)
        model.to(device)
    else:
        model = GPT4TS(args, device)
    # mse, mae = test(model, test_data, test_loader, args, device, ii)

    params = model.parameters()
    model_optim = torch.optim.Adam(params, lr=args.learning_rate)
    
    early_stopping = EarlyStopping(patience=args.patience, verbose=True)
    if args.loss_func == 'mse':
        criterion = nn.MSELoss()
    elif args.loss_func == 'smape':
        class SMAPE(nn.Module):
            def __init__(self):
                super(SMAPE, self).__init__()
            def forward(self, pred, true):
                return torch.mean(200 * torch.abs(pred - true) / (torch.abs(pred) + torch.abs(true) + 1e-8))
        criterion = SMAPE()
    
    scheduler = torch.optim.lr_scheduler.CosineAnnealingLR(model_optim, T_max=args.tmax, eta_min=1e-8)

    for epoch in range():

        iter_count = 0
        train_loss = []
        epoch_time = time.time()
        for i, (batch_x, batch_y, batch_x_mark, batch_y_mark) in tqdm(enumerate(train_loader)):

            iter_count += 1
            model_optim.zero_grad()
            batch_x = batch_x.float().to(device)

            batch_y = batch_y.float().to(device)
            batch_x_mark = batch_x_mark.float().to(device)
            batch_y_mark = batch_y_mark.float().to(device)
            
            outputs = model(batch_x, ii)
 
            outputs = outputs[:, -args.pred_len:, :]
            batch_y = batch_y[:, -args.pred_len:, :].to(device)

            missing_idx=~torch.isnan(batch_y)
            outputs=outputs[missing_idx]
            batch_y=batch_y[missing_idx]
            
            loss = criterion(outputs, batch_y)
            print(loss)
            train_loss.append(loss.item())

gpt2 = GPT2Model(
  (wte): Embedding(50257, 768)
  (wpe): Embedding(1024, 768)
  (drop): Dropout(p=0.1, inplace=False)
  (h): ModuleList(
    (0): GPT2Block(
      (ln_1): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (attn): GPT2Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (mlp): GPT2MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (act): NewGELUActivation()
        (dropout): Dropout(p=0.1, inplace=False)
      )
    )
    (1): GPT2Block(
      (ln_1): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (attn): GPT2Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (mlp): GPT2MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (act): NewGELUActivation()
        (dropout): Dropout(p=0.1, inplace=False)
      )
    )
    (2): GPT2Block(
      (ln_1): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (attn): GPT2Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (mlp): GPT2MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (act): NewGELUActivation()
        (dropout): Dropout(p=0.1, inplace=False)
      )
    )
  )
  (ln_f): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
)

6it [00:00,  8.31it/s]

tensor(2.0324, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.6160, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.9667, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2905, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0565, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1297, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.3761, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0249, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0587, device='cuda:0', grad_fn=<MseLossBackward0>)

11it [00:01, 10.02it/s]

tensor(1.9003, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.3872, device='cuda:0', grad_fn=<MseLossBackward0>)

9it [00:00, 41.27it/s]

tensor(1.9183, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0459, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1644, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2687, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1677, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.4200, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.8945, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2339, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.3085, device='cuda:0', grad_fn=<MseLossBackward0>)

11it [00:00, 33.85it/s]

tensor(2.3500, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0980, device='cuda:0', grad_fn=<MseLossBackward0>)

5it [00:00, 41.21it/s]

tensor(1.9864, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1041, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1367, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2688, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2924, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0839, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.9762, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2852, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0595, device='cuda:0', grad_fn=<MseLossBackward0>)

11it [00:00, 35.37it/s]

tensor(1.9130, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1775, device='cuda:0', grad_fn=<MseLossBackward0>)

10it [00:00, 43.12it/s]

tensor(2.1755, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.3160, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.8172, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0505, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2400, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.8736, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2344, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1464, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2529, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.3262, device='cuda:0', grad_fn=<MseLossBackward0>)

11it [00:00, 34.97it/s]

tensor(2.0815, device='cuda:0', grad_fn=<MseLossBackward0>)

5it [00:00, 43.07it/s]

tensor(2.4215, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0142, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1952, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0816, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.4009, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.7364, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1613, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.9931, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2923, device='cuda:0', grad_fn=<MseLossBackward0>)

11it [00:00, 36.23it/s]

tensor(2.1582, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.9426, device='cuda:0', grad_fn=<MseLossBackward0>)

5it [00:00, 41.44it/s]

tensor(2.0691, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.3546, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.9659, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0914, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.3209, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1574, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1114, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.9698, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2245, device='cuda:0', grad_fn=<MseLossBackward0>)

11it [00:00, 35.41it/s]

tensor(2.3195, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1821, device='cuda:0', grad_fn=<MseLossBackward0>)

5it [00:00, 42.09it/s]

tensor(2.3177, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2733, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1876, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0345, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2512, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2115, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2154, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0496, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0194, device='cuda:0', grad_fn=<MseLossBackward0>)

11it [00:00, 35.03it/s]

tensor(2.0325, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2880, device='cuda:0', grad_fn=<MseLossBackward0>)

5it [00:00, 41.20it/s]

tensor(2.1837, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2256, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.6028, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.1747, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.2088, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.9953, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.3395, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(2.0917, device='cuda:0', grad_fn=<MseLossBackward0>)
tensor(1.9044, device='cuda:0', grad_fn=<MseLossBackward0>)

10it [00:00, 38.37it/s]

tensor(2.0890, device='cuda:0', grad_fn=<MseLossBackward0>)

KeyboardInterrupt:

In [9]:
batch_x.shape

torch.Size([138, 18, 1])

In [10]:
batch_y.shape

torch.Size([138, 21, 1])

In [40]:
class Dataset_EPS(Dataset):
    def __init__(self, root_path, flag='train', size=None,
                 features='S', data_path='ETTh1.csv',
                 target='OT', scale=True, timeenc=0, freq='h',
                 percent=10, max_len=-1, train_all=False,idx=0):
        # size [seq_len, label_len, pred_len]
        # info
        if size == None:
            self.seq_len = 24 * 4 * 4
            self.label_len = 24 * 4
            self.pred_len = 24 * 4
        else:
            self.seq_len = size[0]
            self.label_len = size[1]
            self.pred_len = size[2]
        # init
        assert flag in ['train', 'test', 'val']
        type_map = {'train': 0, 'val': 1, 'test': 2}
        self.set_type = type_map[flag]

        self.features = features
        self.target = target
        self.scale = scale
        self.timeenc = timeenc
        self.freq = freq
        self.percent = percent
        self.idx=idx

        self.root_path = root_path
        self.data_path = data_path
        self.__read_data__()
        self.enc_in = self.data_x.shape[-1]
        self.tot_len = len(self.data_x) - self.seq_len - self.pred_len + 1
        

    def __read_data__(self):
        self.scaler = StandardScaler()
        df_EPS = pd.read_csv(os.path.join(self.root_path,
                                          self.data_path))
        
        select_columns=['date','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']
        tickers=df_EPS['ticker'].unique()
        df_date=pd.DataFrame({'date':df_EPS['date'].dropna().unique()})

        df_0=df_EPS[df_EPS['ticker']==tickers[self.idx]][select_columns]
        final_0 = pd.merge(df_date, df_0, how='left', on='date')
        df_impute=final_0.iloc[:,1:-1].fillna(0)
        df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)
       
        

        '''
        df_raw.columns: ['date', ...(other features), target feature]
        '''
        cols = list(df_raw.columns)
        print(cols)
        cols.remove(self.target)
        cols.remove('date')
        df_raw = df_raw[['date'] + cols + [self.target]]
        # print(cols)
        num_train = int(len(df_raw) * 0.7)
        num_test = int(len(df_raw) * 0.2)
        num_vali = len(df_raw) - num_train - num_test
        border1s = [0, num_train - self.seq_len, len(df_raw) - num_test - self.seq_len]
        border2s = [num_train, num_train + num_vali, len(df_raw)]
        border1 = border1s[self.set_type]
        border2 = border2s[self.set_type]
        
        if self.set_type == 0:
            border2 = (border2 - self.seq_len) * self.percent // 100 + self.seq_len

        if self.features == 'M' or self.features == 'MS':
            cols_data = df_raw.columns[1:]
            df_data = df_raw[cols_data]
        elif self.features == 'S':
            df_data = df_raw[[self.target]]

        if self.scale:
            train_data = df_data[border1s[0]:border2s[0]]
            self.scaler.fit(train_data.values)
            data = self.scaler.transform(df_data.values)
        else:
            data = df_data.values

        df_stamp = df_raw[['date']][border1:border2]
        df_stamp['date'] = pd.to_datetime(df_stamp.date)
        if self.timeenc == 0:
            df_stamp['month'] = df_stamp.date.apply(lambda row: row.month, 1)
            df_stamp['day'] = df_stamp.date.apply(lambda row: row.day, 1)
            df_stamp['weekday'] = df_stamp.date.apply(lambda row: row.weekday(), 1)
            df_stamp['hour'] = df_stamp.date.apply(lambda row: row.hour, 1)
            data_stamp = df_stamp.drop(['date'], 1).values
        elif self.timeenc == 1:
            data_stamp = time_features(pd.to_datetime(df_stamp['date'].values), freq=self.freq)
            data_stamp = data_stamp.transpose(1, 0)

        self.data_x = data[:,:-1][border1:border2]
        self.data_y = data[:,-1:][border1:border2]
        self.data_stamp = data_stamp

    def __getitem__(self, index):
        feat_id = index // self.tot_len
        s_begin = index % self.tot_len
        
        s_end = s_begin + self.seq_len
        r_begin = s_end - self.label_len
        r_end = r_begin + self.label_len + self.pred_len
        seq_x = self.data_x[s_begin:s_end, feat_id:feat_id+1]
        #seq_y = self.data_y[r_begin:r_end, feat_id:feat_id+1]
        seq_y = self.data_y[r_begin:r_end]
        seq_x_mark = self.data_stamp[s_begin:s_end]
        seq_y_mark = self.data_stamp[r_begin:r_end]

        return seq_x, seq_y, seq_x_mark, seq_y_mark

    def __len__(self):
        return (len(self.data_x) - self.seq_len - self.pred_len + 1) * self.enc_in

    def inverse_transform(self, data):
        return self.scaler.inverse_transform(data)

NameError: name 'Dataset' is not defined

In [5]:
 df_EPS = pd.read_csv(os.path.join(args.root_path,args.data_path))

In [6]:
df_EPS

,ticker,pends,ym,permno,gvkey,datadate,yq,cusip,value,anndats,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,date
0,DANS,NaN,198001,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-01-01
1,DANS,NaN,198002,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-02-01
2,DANS,NaN,198003,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-03-01
3,DANS,NaN,198004,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-04-01
4,DANS,NaN,198005,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2236220,023A,2023-07-31,202307,17685.0,33301.0,2023-04-30,202303.0,25616310,0.72,2023-09-07,...,0.009274,-0.003308,-0.044046,51.090000,-0.094149,1313675.0,202371.0,0.66,0.66,2023-07-01
2236221,ANF,2023-07-31,202307,83976.0,63643.0,2023-04-30,202303.0,00289620,1.10,2023-08-23,...,-0.043901,-0.066070,0.113301,37.680000,0.214309,350453.0,50065.0,0.14,0.13,2023-07-01
2236222,ORCL,2023-08-31,202308,10104.0,12142.0,2023-05-31,202303.0,68389X10,1.19,2023-09-11,...,0.089011,-0.007677,-0.067191,117.230003,-0.012260,1563054.0,2714259.0,1.14,1.14,2023-08-01
2236223,ADBE,2023-08-31,202308,75510.0,12540.0,2023-05-31,202303.0,00724F10,4.09,2023-09-14,...,-0.292729,-0.004173,0.019000,546.169983,0.116935,607578.0,455800.0,3.88,3.89,2023-08-01
2236224,LEN,2023-08-31,202308,52708.0,6669.0,2023-05-31,202303.0,52605710,3.87,2023-09-14,...,-3.456735,-0.073108,-0.136134,126.830002,0.015123,395920.0,252526.0,2.69,2.85,2023-08-01

In [79]:
df_EPS['ym'].nunique()

524

In [8]:
select_columns=['date','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']
tickers=df_EPS['ticker'].unique()
df_date=pd.DataFrame({'date':df_EPS['date'].dropna().unique()})

df_0=df_EPS[df_EPS['ticker']==tickers[0]][select_columns]
final_0 = pd.merge(df_date, df_0, how='left', on='date')
df_impute=final_0.iloc[:,1:-1].fillna(0)
df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)
(~np.isnan(df_raw['value'][347:401])).sum()

0

In [60]:
df_raw['value'].values

array([       nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan, -2.150e-02,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan, -4.280e-02,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,        nan,
              nan,        nan,        nan,        nan,  2.200e-03,
              nan,        nan,  1.800e-03,        nan,        nan,
        3.100e-03,        nan,        nan,  1.800e-03,        nan,
              nan,  2.200e-03,        nan,        nan,  1.100e-03,
              nan,        nan,  2.200e-03,        nan,        nan,
        4.400e-03,        nan,        nan,  6.100e-03,        nan,
              nan,  3.300e-03,        nan,        nan,  5.900e-03,
              nan,        nan,  9.400e-03,        nan,        nan,
        1.100e-02,        nan,        nan,  6.300e-03,        nan,
              nan,  1.050e-02,        nan,        nan,  1.240e-02,
              nan,        nan,  1.380e-02,        nan,        nan,
        1.090e-02,        nan,        nan,  1.220e-02,        nan,
              nan,  1.640e-02,        nan,        nan,  1.910e-02,
              nan,        nan,  1.640e-02,        nan,        nan,
        1.840e-02,        nan,        nan,  2.380e-02,        nan,
              nan,  2.890e-02,        nan,        nan,  2.240e-02,
              nan,        nan,  2.440e-02,        nan,        nan,
        3.000e-02,        nan,        nan,  3.780e-02,        nan,
              nan,  3.000e-02,        nan,        nan,  3.450e-02,
              nan,        nan,  4.120e-02,        nan,        nan,
        5.120e-02,        nan,        nan,  4.170e-02,        nan,
              nan,  4.780e-02,        nan,        nan,  5.330e-02,
              nan,        nan,  6.670e-02,        nan,        nan,
        5.330e-02,        nan,        nan,  5.560e-02,        nan,
              nan,  6.890e-02,        nan,        nan,  8.670e-02,
              nan,        nan,  6.890e-02,        nan,        nan,
        7.110e-02,        nan,        nan,  7.560e-02,        nan,
              nan,  1.000e-01,        nan,        nan,  8.220e-02,
              nan,        nan,  8.670e-02,        nan,        nan,
        9.110e-02,        nan,        nan,  1.244e-01,        nan,
              nan,  1.022e-01,        nan,        nan,  1.156e-01,
              nan,        nan,  1.178e-01,        nan,        nan,
        1.600e-01,        nan,        nan,  1.333e-01,        nan,
              nan,  1.367e-01,        nan,        nan,  1.500e-01,
              nan,        nan,  2.067e-01,        nan,        nan,
        1.733e-01,        nan,        nan,  1.800e-01,        nan,
              nan,  2.133e-01,        nan,        nan,  2.933e-01,
              nan,        nan,  2.467e-01,        nan,        nan,
        2.500e-01,        nan,        nan,  2.700e-01,        nan,
              nan,  3.600e-01,        nan,        nan,  2.800e-01,
              nan,        nan,  2.000e-01,        nan,        nan,
        2.700e-01,        nan,        nan,  3.900e-01,        nan,
              nan,  3.300e-01,        nan,        nan,  3.000e-01,
              nan,        nan,  3.600e-01,        nan,        nan,
        5.000e-01,        nan,        nan,  4.000e-01,        nan,
              nan,  3.000e-01,        nan,        nan,  3.900e-01,
              nan,        nan,  5.600e-01,        nan,        nan,
        5.000e-01,        nan,        nan,  4.200e-01,        nan,
              nan,  4.900e-01,        nan,        nan,  7.000e-01,
              nan,        nan,  6.000e-01,        nan,        nan,
        4.700e-01,        nan,        nan,  5.700e-01,        nan,
              nan,  8.200e-01,        nan,        nan,  7.200e-01,
              nan,        nan,  6.000e-01,        nan,        nan,
        7.000e-01,        nan,        nan,  9.000e-01,        nan,
              nan,  7.300e-01,        nan,        nan,  5.000e-01,
              nan,        nan,  4.800e-01,        nan,        nan,
        7.700e-01,        nan,        nan,  5.900e-01,        nan,
              nan,  4.000e-01,        nan,        nan,  4.100e-01,
              nan,        nan,  7.100e-01,        nan,        nan,
        4.500e-01,        nan,        nan,  1.900e-01,        nan,
              nan,  3.500e-01,        nan,        nan,  6.400e-01,
              nan,        nan,  4.100e-01,        nan,        nan,
        2.400e-01,        nan,        nan,  4.500e-01,        nan,
              nan,  7.200e-01,        nan,        nan,  5.100e-01,
              nan,        nan,  3.600e-01,        nan,        nan,
        5.000e-01,        nan,        nan,  8.600e-01,        nan,
              nan,  6.000e-01,        nan,        nan,  5.000e-01,
              nan,        nan,  6.500e-01,        nan,        nan,
        1.010e+00,        nan,        nan,  7.400e-01,        nan,
              nan,  6.700e-01,        nan,        nan,  8.300e-01,
              nan,        nan,  1.240e+00,        nan,        nan,
        9.500e-01,        nan,        nan,  7.300e-01,        nan,
              nan,  9.600e-01,        nan,        nan,  1.520e+00,
              nan,        nan,  1.110e+00,        nan,        nan,
        1.000e+00,        nan,        nan,  1.160e+00,        nan,
              nan,  1.710e+00,        nan,        nan,  1.360e+00,
              nan,        nan,  1.170e+00,        nan,        nan,
        1.440e+00,        nan,        nan,  1.970e+00,        nan,
              nan,  1.600e+00,        nan,        nan,  1.440e+00,
              nan,        nan,  1.670e+00,        nan,        nan,
        2.250e+00,        nan,        nan,  1.870e+00,        nan,
              nan,  1.690e+00,        nan,        nan,  2.080e+00,
              nan,        nan,  3.050e+00,        nan,        nan,
        2.510e+00,        nan,        nan,  2.250e+00,        nan,
              nan,  2.270e+00,        nan,        nan,  3.170e+00,
              nan,        nan,  2.530e+00,        nan,        nan,
        2.280e+00,        nan,        nan,  2.080e+00,        nan,
              nan,  4.020e+00,        nan,        nan,  3.180e+00,
              nan,        nan,  2.650e+00,        nan,        nan,
        3.860e+00,        nan,        nan,  4.530e+00,        nan,
              nan,  3.920e+00,        nan,        nan,  3.210e+00,
              nan,        nan,  4.090e+00,        nan,        nan,
        5.050e+00,        nan,        nan,  4.240e+00,        nan,
              nan,  3.300e+00,        nan,        nan,  3.820e+00,
              nan,        nan,  4.650e+00,        nan])

In [81]:
(df_raw['atq']==0).sum()

26

In [82]:
df_raw['value'].isnull().sum()

365

In [25]:
df_EPS

,ticker,pends,ym,permno,gvkey,datadate,yq,cusip,value,anndats,...,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,date
0,DANS,NaN,198001,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-01-01
1,DANS,NaN,198002,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-02-01
2,DANS,NaN,198003,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-03-01
3,DANS,NaN,198004,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-04-01
4,DANS,NaN,198005,77861.0,25669.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1980-05-01
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2236220,023A,2023-07-31,202307,17685.0,33301.0,2023-04-30,202303.0,25616310,0.72,2023-09-07,...,0.009274,-0.003308,-0.044046,51.090000,-0.094149,1313675.0,202371.0,0.66,0.66,2023-07-01
2236221,ANF,2023-07-31,202307,83976.0,63643.0,2023-04-30,202303.0,00289620,1.10,2023-08-23,...,-0.043901,-0.066070,0.113301,37.680000,0.214309,350453.0,50065.0,0.14,0.13,2023-07-01
2236222,ORCL,2023-08-31,202308,10104.0,12142.0,2023-05-31,202303.0,68389X10,1.19,2023-09-11,...,0.089011,-0.007677,-0.067191,117.230003,-0.012260,1563054.0,2714259.0,1.14,1.14,2023-08-01
2236223,ADBE,2023-08-31,202308,75510.0,12540.0,2023-05-31,202303.0,00724F10,4.09,2023-09-14,...,-0.292729,-0.004173,0.019000,546.169983,0.116935,607578.0,455800.0,3.88,3.89,2023-08-01
2236224,LEN,2023-08-31,202308,52708.0,6669.0,2023-05-31,202303.0,52605710,3.87,2023-09-14,...,-3.456735,-0.073108,-0.136134,126.830002,0.015123,395920.0,252526.0,2.69,2.85,2023-08-01

In [51]:
df_raw

,date,atq,ni,dv,acc,invest,mc,bm,dinvt,dar,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,value
0,1980-01-01,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,NaN
1,1980-02-01,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,NaN
2,1980-03-01,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,NaN
3,1980-04-01,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,NaN
4,1980-05-01,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,2023-04-01,76445.0,3362.0,7789.0,-11253.0,-421.0,12.704897,-5.351174,0.045843,-0.032969,0.003714,0.019924,0.090754,295.119995,0.002259,1043572.0,1014956.0,3.85,3.85,3.82
520,2023-05-01,76386.0,3873.0,2118.0,-1741.0,-59.0,12.620312,-6.728668,-0.020309,0.230326,-0.052159,-0.013112,-0.069421,300.540009,0.018365,624846.0,1014956.0,0.00,0.00,NaN
521,2023-06-01,76386.0,3873.0,2118.0,-1741.0,-59.0,12.620312,-6.728668,-0.020309,0.230326,-0.052159,-0.013112,-0.069421,283.450012,-0.049910,1167558.0,1005376.0,0.00,0.00,NaN
522,2023-07-01,76386.0,3873.0,2118.0,-1741.0,-59.0,12.620312,-6.728668,-0.020309,0.230326,-0.052159,-0.013112,-0.069421,310.640015,0.095925,925631.0,1005376.0,4.47,4.44,4.65
523,2023-08-01,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.00,0.00,NaN

In [14]:
        cols = list(df_raw.columns)
        print(cols)
        cols.remove(args.target)
        cols.remove('date')
        df_raw = df_raw[['date'] + cols + [args.target]]
        # print(cols)
        num_train = int(len(df_raw) * 0.7)
        num_test = int(len(df_raw) * 0.2)
        num_vali = len(df_raw) - num_train - num_test
        border1s = [0, num_train - args.seq_len, len(df_raw) - num_test - args.seq_len]
        border2s = [num_train, num_train + num_vali, len(df_raw)]
        border1 = border1s[1]
        border2 = border2s[1]
        
        
        if args.features == 'M' or args.features == 'MS':
            cols_data = df_raw.columns[1:]
            df_data = df_raw[cols_data]
        elif args.features == 'S':
            df_data = df_raw[[args.target]]


        df_stamp = df_raw[['date']][border1:border2]
        df_stamp['date'] = pd.to_datetime(df_stamp.date)
        if 0 == 0:
            df_stamp['month'] = df_stamp.date.apply(lambda row: row.month, 1)
            df_stamp['day'] = df_stamp.date.apply(lambda row: row.day, 1)
            df_stamp['weekday'] = df_stamp.date.apply(lambda row: row.weekday(), 1)
            df_stamp['hour'] = df_stamp.date.apply(lambda row: row.hour, 1)
            data_stamp = df_stamp.drop(['date'], 1).values
        data = df_data.values
        data_x = data[:,:-1][border1:border2]
        data_y = data[:,-1:][border1:border2]
        data_stamp = data_stamp

['date', 'atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm', 'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout', 'medest', 'meanest', 'value']

In [15]:
border1s

[0, 347, 401]

In [61]:
data_y

array([[ nan],
       [0.19],
       [ nan],
       [ nan],
       [0.35],
       [ nan],
       [ nan],
       [0.64],
       [ nan],
       [ nan],
       [0.41],
       [ nan],
       [ nan],
       [0.24],
       [ nan],
       [ nan],
       [0.45],
       [ nan],
       [ nan],
       [0.72],
       [ nan],
       [ nan],
       [0.51],
       [ nan],
       [ nan],
       [0.36],
       [ nan],
       [ nan],
       [0.5 ],
       [ nan],
       [ nan],
       [0.86],
       [ nan],
       [ nan],
       [0.6 ],
       [ nan],
       [ nan],
       [0.5 ],
       [ nan],
       [ nan],
       [0.65],
       [ nan],
       [ nan],
       [1.01],
       [ nan],
       [ nan],
       [0.74],
       [ nan],
       [ nan],
       [0.67],
       [ nan],
       [ nan],
       [0.83],
       [ nan],
       [ nan],
       [1.24],
       [ nan],
       [ nan],
       [0.95],
       [ nan],
       [ nan],
       [0.73],
       [ nan],
       [ nan],
       [0.96],
       [ nan],
       [ nan],
       [1.52],
       [ nan],
       [ nan],
       [1.11],
       [ nan],
       [ nan]])

In [45]:
enc_in = data_x.shape[-1]
tot_len = len(data_x) - args.seq_len - args.pred_len + 1
print(enc_in,tot_len)

18 337

In [57]:
        index=7000
        feat_id = index // tot_len
        s_begin = index % tot_len
        
        s_end = s_begin + args.seq_len
        r_begin = s_end - args.label_len
        r_end = r_begin + args.label_len + args.pred_len
        seq_x = data_x[s_begin:s_end, :]
        #seq_y = self.data_y[r_begin:r_end, feat_id:feat_id+1]
        seq_y = data_y[r_begin:r_end]
        seq_x_mark = data_stamp[s_begin:s_end]
        seq_y_mark = data_stamp[r_begin:r_end]

In [56]:
s_end

301

In [58]:
seq_y

array([[0.5 ],
       [ nan],
       [ nan],
       [0.4 ],
       [ nan],
       [ nan],
       [0.3 ],
       [ nan],
       [ nan],
       [0.39],
       [ nan],
       [ nan],
       [0.56],
       [ nan],
       [ nan],
       [0.5 ],
       [ nan],
       [ nan],
       [0.42],
       [ nan]])

In [103]:
seq_y.shape

(20, 1)

In [96]:
seq_y

array([[    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [-0.0215],
       [    nan]])

In [89]:
seq_y.shape

(20, 1)

In [75]:
data_x

array([[0.000000e+00, 0.000000e+00, 0.000000e+00, ..., 0.000000e+00,
        0.000000e+00, 0.000000e+00],
       [0.000000e+00, 0.000000e+00, 0.000000e+00, ..., 0.000000e+00,
        0.000000e+00, 0.000000e+00],
       [0.000000e+00, 0.000000e+00, 0.000000e+00, ..., 0.000000e+00,
        0.000000e+00, 0.000000e+00],
       ...,
       [4.087700e+04, 3.010000e+02, 1.525000e+03, ..., 1.693342e+06,
        3.800000e-01, 3.800000e-01],
       [4.361900e+04, 7.250000e+02, 3.990000e+02, ..., 1.693342e+06,
        0.000000e+00, 0.000000e+00],
       [4.361900e+04, 7.250000e+02, 3.990000e+02, ..., 1.693342e+06,
        0.000000e+00, 0.000000e+00]])

In [6]:
 for i, (batch_x, batch_y, batch_x_mark, batch_y_mark) in tqdm(enumerate(train_loader)):
     print(batch_x.shape)
     print(batch_y.shape)

12it [00:00, 105.67it/s]

torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
torch.Size([512, 21, 1])
torch.Size([434, 18, 1])
torch.Size([434, 21, 1])

In [8]:
 for i, (batch_x, batch_y, batch_x_mark, batch_y_mark) in tqdm(enumerate(test_loader)):
     print(batch_x.shape)
     print(batch_x)
     print(batch_y.shape)

4it [00:00, 81.30it/s]

torch.Size([512, 18, 1])
tensor([[[-0.6957],
         [-0.6957],
         [-0.6957],
         ...,
         [-0.6957],
         [-0.6957],
         [-0.6957]],

        [[-0.6957],
         [-0.6957],
         [-0.6957],
         ...,
         [-0.6957],
         [-0.6957],
         [-0.6957]],

        [[-0.6957],
         [-0.6957],
         [-0.6957],
         ...,
         [-0.6957],
         [-0.6957],
         [-0.6957]],

        ...,

        [[-0.6535],
         [-0.6535],
         [-0.6535],
         ...,
         [-0.6535],
         [-0.6535],
         [-0.6535]],

        [[-0.6535],
         [-0.6535],
         [-0.6535],
         ...,
         [-0.6535],
         [-0.6535],
         [-0.6535]],

        [[-0.6535],
         [-0.6535],
         [-0.6535],
         ...,
         [-0.6535],
         [-0.6535],
         [-0.6535]]], dtype=torch.float64)
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
tensor([[[-0.6535],
         [-0.6535],
         [-0.6535],
         ...,
         [-0.6535],
         [-0.6535],
         [-0.6535]],

        [[-0.6535],
         [-0.6535],
         [-0.6535],
         ...,
         [-0.6535],
         [-0.6535],
         [-0.6535]],

        [[-0.6535],
         [-0.6535],
         [-0.6535],
         ...,
         [-0.6535],
         [-0.6535],
         [-0.6535]],

        ...,

        [[ 0.1538],
         [ 0.1538],
         [ 0.1538],
         ...,
         [ 0.1538],
         [ 0.1538],
         [ 0.1538]],

        [[ 0.1538],
         [ 0.1538],
         [ 0.1538],
         ...,
         [ 0.1538],
         [ 0.1538],
         [ 0.1538]],

        [[ 0.0656],
         [ 0.0656],
         [ 0.0656],
         ...,
         [ 0.0656],
         [ 0.0656],
         [ 0.0656]]], dtype=torch.float64)
torch.Size([512, 21, 1])
torch.Size([512, 18, 1])
tensor([[[ 0.0656],
         [ 0.0656],
         [ 0.0656],
         ...,
         [ 0.0656],
         [ 0.0656],
         [ 0.0656]],

        [[ 0.0656],
         [ 0.0656],
         [ 0.0656],
         ...,
         [ 0.0656],
         [ 0.0656],
         [ 0.0656]],

        [[ 0.0656],
         [ 0.0656],
         [ 0.0656],
         ...,
         [ 0.0656],
         [ 0.0656],
         [ 0.0656]],

        ...,

        [[-0.0434],
         [-0.0434],
         [-0.0434],
         ...,
         [-0.0434],
         [-0.0434],
         [-0.0434]],

        [[-0.0434],
         [-0.0434],
         [-0.0434],
         ...,
         [-0.0434],
         [-0.0434],
         [-0.0434]],

        [[-0.0434],
         [-0.0434],
         [-0.0434],
         ...,
         [-0.0434],
         [-0.0434],
         [-0.0434]]], dtype=torch.float64)
torch.Size([512, 21, 1])
torch.Size([138, 18, 1])
tensor([[[-0.0434],
         [-0.0434],
         [-0.0434],
         ...,
         [-0.0434],
         [-0.0434],
         [-0.0434]],

        [[-0.0434],
         [-0.0434],
         [-0.0434],
         ...,
         [-0.0434],
         [-0.0434],
         [-0.0434]],

        [[-0.0434],
         [-0.0434],
         [-0.0434],
         ...,
         [-0.0434],
         [-0.0434],
         [-0.0434]],

        ...,

        [[-0.0434],
         [-0.0434],
         [-0.0434],
         ...,
         [-0.0434],
         [-0.0434],
         [-0.0434]],

        [[-0.0434],
         [-0.0434],
         [-0.0434],
         ...,
         [-0.0434],
         [-0.0434],
         [-0.0434]],

        [[-0.0434],
         [-0.0434],
         [-0.0434],
         ...,
         [-0.0434],
         [-0.0434],
         [-0.0434]]], dtype=torch.float64)
torch.Size([138, 21, 1])

In [7]:
outputs.shape

torch.Size([512, 12, 1])

In [10]:
batch_y.shape

torch.Size([512, 21])

In [7]:
batch_x

NameError: name 'batch_x' is not defined

In [7]:
        import pandas as pd
        df_EPS = pd.read_csv(os.path.join(args.root_path,
                                          args.data_path))
        
        select_columns=['date','atq', 'ni', 'dv', 'acc', 'invest', 'mc', 'bm',
                     'dinvt', 'dar', 'capx', 'gm', 'sga', 'prc', 'ret', 'vol', 'shrout',
                     'medest', 'meanest','value']
        tickers=df_EPS['ticker'].unique()
        df_date=pd.DataFrame({'date':df_EPS['date'].dropna().unique()})

        df_0=df_EPS[df_EPS['ticker']==tickers[0]][select_columns]
        final_0 = pd.merge(df_date, df_0, how='left', on='date')
        df_impute=final_0.iloc[:,1:-1].fillna(0)
        df_raw = pd.concat([final_0.iloc[:, :1], df_impute, final_0.iloc[:, -1:]], axis=1)

In [10]:
df_EPS.describe()

,ym,permno,gvkey,yq,value,begin,end,seq,fyearq,fqtr,...,dar,capx,gm,sga,prc,ret,vol,shrout,medest,meanest
count,2.236225e+06,2.235274e+06,2.234767e+06,713174.000000,684407.000000,2.236225e+06,2.236225e+06,2.236225e+06,2.192567e+06,2.192272e+06,...,1.756122e+06,1.728486e+06,1.888651e+06,1.506321e+06,2.059437e+06,2.050243e+06,2.059419e+06,2.079102e+06,532579.00000,532579.000000
mean,2.002556e+05,6.157964e+04,4.640005e+04,200285.762015,0.168323,1.991954e+05,2.013041e+05,1.270881e+02,2.002446e+03,2.497810e+00,...,3.993924e-01,-6.321864e-01,9.485635e-02,-1.569992e-01,2.590775e+01,1.253586e-02,1.495523e+05,8.819640e+04,0.27280,0.273052
std,1.048453e+03,2.848655e+04,5.765498e+04,1038.395867,2.280542,9.310580e+02,1.002140e+03,1.059575e+02,1.043082e+01,1.119223e+00,...,3.151203e+02,7.350002e+01,6.307295e+01,4.269853e+01,4.694364e+01,1.644536e-01,7.975488e+05,3.475159e+05,1.34245,1.338396
min,1.980010e+05,1.000100e+04,1.004000e+03,198002.000000,-434.783000,1.979120e+05,1.985030e+05,1.000000e+00,1.980000e+03,1.000000e+00,...,-3.139937e+04,-3.722266e+04,-1.254369e+04,-2.513782e+04,2.080000e-02,-9.526842e-01,0.000000e+00,2.200000e+01,-217.20000,-226.130000
25%,1.994110e+05,3.555300e+04,8.823000e+03,199501.000000,0.006300,1.983110e+05,2.005060e+05,4.500000e+01,1.994000e+03,1.000000e+00,...,-9.966298e-02,-1.845640e-01,-6.436100e-02,-9.057730e-02,7.310000e+00,-6.153846e-02,3.940000e+03,8.659000e+03,0.03000,0.040000
50%,2.002050e+05,7.652900e+04,1.977100e+04,200204.000000,0.150000,1.990090e+05,2.015090e+05,9.700000e+01,2.002000e+03,2.000000e+00,...,0.000000e+00,1.557987e-02,0.000000e+00,-4.138952e-03,1.650000e+01,4.221936e-03,1.943300e+04,2.260400e+04,0.19000,0.190000
75%,2.011040e+05,8.453600e+04,6.328100e+04,201103.000000,0.400000,1.998030e+05,2.023060e+05,1.830000e+02,2.011000e+03,3.000000e+00,...,1.024314e-01,2.000487e-01,6.171264e-02,8.286999e-02,3.105000e+01,7.299270e-02,8.649450e+04,5.999500e+04,0.44000,0.440000
max,2.023080e+05,9.343600e+04,3.470070e+05,202303.000000,295.600000,2.020090e+05,2.023080e+05,5.000000e+02,2.023000e+03,4.000000e+00,...,2.173947e+05,1.279401e+02,3.139100e+04,9.406193e+02,3.507070e+03,1.625053e+01,2.012427e+08,2.920640e+07,105.35000,87.680000

In [8]:
df_raw

,date,atq,ni,dv,acc,invest,mc,bm,dinvt,dar,capx,gm,sga,prc,ret,vol,shrout,medest,meanest,value
0,1980-01-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
1,1980-02-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
2,1980-03-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
3,1980-04-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
4,1980-05-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
519,2023-04-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
520,2023-05-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
521,2023-06-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
522,2023-07-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN
523,2023-08-01,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN

In [22]:
data = df_data.values

In [25]:
data[:,:-1]

array([[0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       ...,
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.],
       [0., 0., 0., ..., 0., 0., 0.]])

In [27]:
data[:,-1:]

array([[    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [-0.04  ],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [-0.0833],
       [    nan],
       [    nan],
       [ 0.1472],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [ 0.2236],
       [    nan],
       [    nan],
       [-0.0545],
       [    nan],
       [    nan],
       [ 0.1309],
       [    nan],
       [    nan],
       [-0.06  ],
       [    nan],
       [    nan],
       [ 0.1254],
       [    nan],
       [    nan],
       [-0.0055],
       [    nan],
       [    nan],
       [ 0.0763],
       [    nan],
       [    nan],
       [ 0.0109],
       [    nan],
       [    nan],
       [-0.169 ],
       [    nan],
       [    nan],
       [-0.0872],
       [    nan],
       [    nan],
       [-0.1854],
       [    nan],
       [    nan],
       [-0.1254],
       [    nan],
       [    nan],
       [-0.169 ],
       [    nan],
       [    nan],
       [-0.0185],
       [    nan],
       [    nan],
       [ 0.0463],
       [    nan],
       [    nan],
       [-0.537 ],
       [    nan],
       [    nan],
       [-0.3148],
       [    nan],
       [    nan],
       [-0.0648],
       [    nan],
       [    nan],
       [ 0.0741],
       [    nan],
       [    nan],
       [-0.4815],
       [    nan],
       [    nan],
       [-0.1481],
       [    nan],
       [    nan],
       [-0.25  ],
       [    nan],
       [    nan],
       [-0.04  ],
       [    nan],
       [    nan],
       [-0.2   ],
       [    nan],
       [    nan],
       [-0.03  ],
       [    nan],
       [    nan],
       [-0.04  ],
       [    nan],
       [    nan],
       [-0.11  ],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [-0.03  ],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan],
       [    nan]])

In [7]:
    device = torch.device('cuda:0')

    time_now = time.time()
    train_steps = len(train_loader)

    if args.model == 'PatchTST':
        model = PatchTST(args, device)
        model.to(device)
    elif args.model == 'DLinear':
        model = DLinear(args, device)
        model.to(device)
    else:
        model = GPT4TS(args, device)
    # mse, mae = test(model, test_data, test_loader, args, device, ii)

    params = model.parameters()
    model_optim = torch.optim.Adam(params, lr=args.learning_rate)
    
    early_stopping = EarlyStopping(patience=args.patience, verbose=True)
    if args.loss_func == 'mse':
        criterion = nn.MSELoss()
    elif args.loss_func == 'smape':
        class SMAPE(nn.Module):
            def __init__(self):
                super(SMAPE, self).__init__()
            def forward(self, pred, true):
                return torch.mean(200 * torch.abs(pred - true) / (torch.abs(pred) + torch.abs(true) + 1e-8))
        criterion = SMAPE()
    
    scheduler = torch.optim.lr_scheduler.CosineAnnealingLR(model_optim, T_max=args.tmax, eta_min=1e-8)

    for epoch in range(args.train_epochs):

        iter_count = 0
        train_loss = []
        epoch_time = time.time()
        for i, (batch_x, batch_y, batch_x_mark, batch_y_mark) in tqdm(enumerate(train_loader)):

            iter_count += 1
            model_optim.zero_grad()
            batch_x = batch_x.float().to(device)

            batch_y = batch_y.float().to(device)
            batch_x_mark = batch_x_mark.float().to(device)
            batch_y_mark = batch_y_mark.float().to(device)
            
            outputs = model(batch_x, ii)

            outputs = outputs[:, -args.pred_len:, :]
            batch_y = batch_y[:, -args.pred_len:, :].to(device)
            loss = criterion(outputs, batch_y)
            train_loss.append(loss.item())

            if (i + 1) % 1000 == 0:
                print("\titers: {0}, epoch: {1} | loss: {2:.7f}".format(i + 1, epoch + 1, loss.item()))
                speed = (time.time() - time_now) / iter_count
                left_time = speed * ((args.train_epochs - epoch) * train_steps - i)
                print('\tspeed: {:.4f}s/iter; left time: {:.4f}s'.format(speed, left_time))
                iter_count = 0
                time_now = time.time()
            loss.backward()
            model_optim.step()

        
        print("Epoch: {} cost time: {}".format(epoch + 1, time.time() - epoch_time))

        train_loss = np.average(train_loss)
        vali_loss = vali(model, vali_data, vali_loader, criterion, args, device, ii)
        # test_loss = vali(model, test_data, test_loader, criterion, args, device, ii)
        # print("Epoch: {0}, Steps: {1} | Train Loss: {2:.7f} Vali Loss: {3:.7f}, Test Loss: {4:.7f}".format(
        #     epoch + 1, train_steps, train_loss, vali_loss, test_loss))
        print("Epoch: {0}, Steps: {1} | Train Loss: {2:.7f} Vali Loss: {3:.7f}".format(
            epoch + 1, train_steps, train_loss, vali_loss))

        if args.cos:
            scheduler.step()
            print("lr = {:.10f}".format(model_optim.param_groups[0]['lr']))
        else:
            adjust_learning_rate(model_optim, epoch + 1, args)
        early_stopping(vali_loss, model, path)
        if early_stopping.early_stop:
            print("Early stopping")
            break

    best_model_path = path + '/' + 'checkpoint.pth'
    model.load_state_dict(torch.load(best_model_path))
    print("------------------------------------")
    mse, r2 = test(model, test_data, test_loader, args, device, ii)
    mses.append(mse)
    maes.append(r2)

mses = np.array(mses)
maes = np.array(maes)
print("mse_mean = {:.4f}, mse_std = {:.4f}".format(np.mean(mses), np.std(mses)))
print("r2_mean = {:.4f}, mae_std = {:.4f}".format(np.mean(r2), np.std(r2)))

gpt2 = GPT2Model(
  (wte): Embedding(50257, 768)
  (wpe): Embedding(1024, 768)
  (drop): Dropout(p=0.1, inplace=False)
  (h): ModuleList(
    (0): GPT2Block(
      (ln_1): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (attn): GPT2Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (mlp): GPT2MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (act): NewGELUActivation()
        (dropout): Dropout(p=0.1, inplace=False)
      )
    )
    (1): GPT2Block(
      (ln_1): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (attn): GPT2Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (mlp): GPT2MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (act): NewGELUActivation()
        (dropout): Dropout(p=0.1, inplace=False)
      )
    )
    (2): GPT2Block(
      (ln_1): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (attn): GPT2Attention(
        (c_attn): Conv1D()
        (c_proj): Conv1D()
        (attn_dropout): Dropout(p=0.1, inplace=False)
        (resid_dropout): Dropout(p=0.1, inplace=False)
      )
      (ln_2): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
      (mlp): GPT2MLP(
        (c_fc): Conv1D()
        (c_proj): Conv1D()
        (act): NewGELUActivation()
        (dropout): Dropout(p=0.1, inplace=False)
      )
    )
  )
  (ln_f): LayerNorm((768,), eps=1e-05, elementwise_affine=True)
)

12it [00:01,  8.62it/s]

Epoch: 1 cost time: 1.6589577198028564

1it [00:00, 10.12it/s]

Epoch: 1, Steps: 12 | Train Loss: nan Vali Loss: nan
lr_adjust = {1: 0.0001}
Updating learning rate to 0.0001
Validation loss decreased (inf --> nan).  Saving model ...

12it [00:00, 19.76it/s]

Epoch: 2 cost time: 0.859095573425293

1it [00:00, 10.75it/s]

Epoch: 2, Steps: 12 | Train Loss: nan Vali Loss: nan
lr_adjust = {2: 0.0001}
Updating learning rate to 0.0001
Validation loss decreased (nan --> nan).  Saving model ...

12it [00:00, 20.36it/s]

Epoch: 3 cost time: 0.8820452690124512

1it [00:00, 12.36it/s]

Epoch: 3, Steps: 12 | Train Loss: nan Vali Loss: nan
lr_adjust = {3: 0.0001}
Updating learning rate to 0.0001
Validation loss decreased (nan --> nan).  Saving model ...

12it [00:00, 20.09it/s]

Epoch: 4 cost time: 0.8743677139282227

1it [00:00,  9.57it/s]

Epoch: 4, Steps: 12 | Train Loss: nan Vali Loss: nan
lr_adjust = {4: 9e-05}
Updating learning rate to 9e-05
Validation loss decreased (nan --> nan).  Saving model ...

12it [00:00, 20.20it/s]

Epoch: 5 cost time: 0.8874402046203613

1it [00:00, 11.37it/s]

Epoch: 5, Steps: 12 | Train Loss: nan Vali Loss: nan
lr_adjust = {5: 8.1e-05}
Updating learning rate to 8.1e-05
Validation loss decreased (nan --> nan).  Saving model ...

12it [00:00, 20.07it/s]

Epoch: 6 cost time: 0.8914613723754883

1it [00:00, 11.28it/s]

Epoch: 6, Steps: 12 | Train Loss: nan Vali Loss: nan
lr_adjust = {6: 7.290000000000001e-05}
Updating learning rate to 7.290000000000001e-05
Validation loss decreased (nan --> nan).  Saving model ...

12it [00:00, 20.06it/s]

Epoch: 7 cost time: 0.8867197036743164

1it [00:00, 11.06it/s]

Epoch: 7, Steps: 12 | Train Loss: nan Vali Loss: nan
lr_adjust = {7: 6.561e-05}
Updating learning rate to 6.561e-05
Validation loss decreased (nan --> nan).  Saving model ...

12it [00:00, 20.76it/s]

Epoch: 8 cost time: 0.8842856884002686

1it [00:00, 11.05it/s]

Epoch: 8, Steps: 12 | Train Loss: nan Vali Loss: nan
lr_adjust = {8: 5.904900000000001e-05}
Updating learning rate to 5.904900000000001e-05
Validation loss decreased (nan --> nan).  Saving model ...

12it [00:00, 20.35it/s]

Epoch: 9 cost time: 0.8724055290222168

1it [00:00, 11.99it/s]

Epoch: 9, Steps: 12 | Train Loss: nan Vali Loss: nan
lr_adjust = {9: 5.3144100000000005e-05}
Updating learning rate to 5.3144100000000005e-05
Validation loss decreased (nan --> nan).  Saving model ...

12it [00:00, 20.10it/s]

Epoch: 10 cost time: 0.8859546184539795

1it [00:00, 11.69it/s]

Epoch: 10, Steps: 12 | Train Loss: nan Vali Loss: nan
lr_adjust = {10: 4.782969000000001e-05}
Updating learning rate to 4.782969000000001e-05
Validation loss decreased (nan --> nan).  Saving model ...
------------------------------------

Exception ignored in: <function _releaseLock at 0x7fcf867245e0>
Traceback (most recent call last):
  File "/home/dan/anaconda3/envs/geo/lib/python3.9/logging/__init__.py", line 227, in _releaseLock
    def _releaseLock():
KeyboardInterrupt:
3it [00:00, 25.94it/s]

test shape: (3, 6144) (3, 6144)
test shape: (1, 3, 6144) (1, 3, 6144)
mae:nan, mse:nan, rmse:nan, r2:nan
mse_mean = nan, mse_std = nan
r2_mean = nan, mae_std = nan

train 1121152
val 148903
test 324083

In [93]:
len(train_data)//8759

128

In [94]:
len(vali_data)/8759

17.0

In [95]:
len(test_data)/8759

37.0

In [96]:
128+17+37

182

In [68]:
train_data[0][0].shape

(12, 1)

In [69]:
train_data[0][1].shape

(15, 1)

In [70]:
train_data[0][2].shape

(12, 1)

In [71]:
train_data[0][3].shape

(15, 1)

In [77]:
train_data[0][3]

array([[ 0.31818182],
       [ 0.40909091],
       [ 0.5       ],
       [-0.5       ],
       [-0.40909091],
       [-0.31818182],
       [-0.22727273],
       [-0.13636364],
       [-0.04545455],
       [ 0.04545455],
       [ 0.13636364],
       [ 0.22727273],
       [ 0.31818182],
       [ 0.40909091],
       [ 0.5       ]])

In [78]:
78831/8759

9.0